In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
kt_no_crowd = pd.read_csv('../Data/kt.csv')
kt_no_crowd

                날짜   시작시간   종료시간  경기시간  홈팀 선발 어웨이팀 선발       구장
0    2022.04.02(토)  13:59  16:40  2:41   쿠에바스     뷰캐넌  구장 : 수원
1    2022.04.03(일)  13:59  17:20  3:21    배제성    수아레즈  구장 : 수원
2    2022.04.05(화)  18:31  21:29  2:58  데스파이네      노바  구장 : 수원
3    2022.04.06(수)  18:30  20:52  2:22    고영표     오원석  구장 : 수원
4    2022.04.07(목)  18:31  21:19  2:48    소형준     이태양  구장 : 수원
..             ...    ...    ...   ...    ...     ...      ...
341  2024.05.29(수)  18:31  21:41  3:10    최준호     원상현  구장 : 잠실
342  2024.05.30(목)  18:30  21:17  2:47     곽빈     한차현  구장 : 잠실
343  2024.05.31(금)  18:29  21:29  3:00    양현종     엄상백  구장 : 광주
344  2024.06.01(토)  17:01  20:00  2:59     네일     육청명  구장 : 광주
345  2024.06.02(일)  17:00  19:54  2:54    윤영철    쿠에바스  구장 : 광주

[346 rows x 7 columns]

In [4]:
kt_no_crowd['구장'].unique()

array(['구장 : 수원', '구장 : 대전', '구장 : 사직', '구장 : 잠실', '구장 : 고척', '구장 : 광주',
       '구장 : 대구', '구장 : 창원', '구장 : 문학'], dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
kt_no_crowd = kt_no_crowd[kt_no_crowd['구장'] == '구장 : 수원']
kt_no_crowd

                날짜   시작시간   종료시간  경기시간  홈팀 선발 어웨이팀 선발       구장
0    2022.04.02(토)  13:59  16:40  2:41   쿠에바스     뷰캐넌  구장 : 수원
1    2022.04.03(일)  13:59  17:20  3:21    배제성    수아레즈  구장 : 수원
2    2022.04.05(화)  18:31  21:29  2:58  데스파이네      노바  구장 : 수원
3    2022.04.06(수)  18:30  20:52  2:22    고영표     오원석  구장 : 수원
4    2022.04.07(목)  18:31  21:19  2:48    소형준     이태양  구장 : 수원
..             ...    ...    ...   ...    ...     ...      ...
332  2024.05.17(금)  18:30  22:43  4:13    원상현     임찬규  구장 : 수원
333  2024.05.18(토)  16:59  20:12  3:13     주권     최원태  구장 : 수원
334  2024.05.19(일)  14:00  17:01  3:01    성재헌     손주영  구장 : 수원
338  2024.05.24(금)  18:30  21:42  3:12    한차현     전준표  구장 : 수원
339  2024.05.25(토)  17:00  19:56  2:56    엄상백     김인범  구장 : 수원

[170 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
kt_no_crowd['날짜'] = kt_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
kt_no_crowd

            날짜   시작시간   종료시간  경기시간  홈팀 선발 어웨이팀 선발       구장
0   2022-04-02  13:59  16:40  2:41   쿠에바스     뷰캐넌  구장 : 수원
1   2022-04-03  13:59  17:20  3:21    배제성    수아레즈  구장 : 수원
2   2022-04-05  18:31  21:29  2:58  데스파이네      노바  구장 : 수원
3   2022-04-06  18:30  20:52  2:22    고영표     오원석  구장 : 수원
4   2022-04-07  18:31  21:19  2:48    소형준     이태양  구장 : 수원
..         ...    ...    ...   ...    ...     ...      ...
332 2024-05-17  18:30  22:43  4:13    원상현     임찬규  구장 : 수원
333 2024-05-18  16:59  20:12  3:13     주권     최원태  구장 : 수원
334 2024-05-19  14:00  17:01  3:01    성재헌     손주영  구장 : 수원
338 2024-05-24  18:30  21:42  3:12    한차현     전준표  구장 : 수원
339 2024-05-25  17:00  19:56  2:56    엄상백     김인범  구장 : 수원

[170 rows x 7 columns]

In [7]:
# 정보 확인하기
kt_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 0 to 339
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       170 non-null    datetime64[ns]
 1   시작시간     170 non-null    object
 2   종료시간     170 non-null    object
 3   경기시간     170 non-null    object
 4   홈팀 선발    170 non-null    object
 5   어웨이팀 선발  170 non-null    object
 6   구장       170 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.6+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
kt_no_crowd = kt_no_crowd[kt_no_crowd['날짜'] < '2024-06-01']
kt_no_crowd

            날짜   시작시간   종료시간  경기시간  홈팀 선발 어웨이팀 선발       구장
0   2022-04-02  13:59  16:40  2:41   쿠에바스     뷰캐넌  구장 : 수원
1   2022-04-03  13:59  17:20  3:21    배제성    수아레즈  구장 : 수원
2   2022-04-05  18:31  21:29  2:58  데스파이네      노바  구장 : 수원
3   2022-04-06  18:30  20:52  2:22    고영표     오원석  구장 : 수원
4   2022-04-07  18:31  21:19  2:48    소형준     이태양  구장 : 수원
..         ...    ...    ...   ...    ...     ...      ...
332 2024-05-17  18:30  22:43  4:13    원상현     임찬규  구장 : 수원
333 2024-05-18  16:59  20:12  3:13     주권     최원태  구장 : 수원
334 2024-05-19  14:00  17:01  3:01    성재헌     손주영  구장 : 수원
338 2024-05-24  18:30  21:42  3:12    한차현     전준표  구장 : 수원
339 2024-05-25  17:00  19:56  2:56    엄상백     김인범  구장 : 수원

[170 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
kt_crowd = pd.read_csv('../Data/crowd/kt.csv')
kt_crowd

             날짜 요일  홈팀  원정팀  장소   관중 수
0    2022-04-02  토  KT   삼성  수원  17057
1    2022-04-03  일  KT   삼성  수원  10321
2    2022-04-05  화  KT  SSG  수원   2055
3    2022-04-06  수  KT  SSG  수원   2094
4    2022-04-07  목  KT  SSG  수원   2530
..          ... ..  ..  ...  ..    ...
171  2024-06-05  수  KT   한화  수원  14626
172  2024-06-06  목  KT   한화  수원  18700
173  2024-06-07  금  KT   LG  수원  13154
174  2024-06-08  토  KT   LG  수원  18700
175  2024-06-09  일  KT   LG  수원  13642

[176 rows x 6 columns]

In [10]:
# 정보확인
kt_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    object
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.4+ KB

In [11]:
# 날짜 데이터 타입 변환
kt_crowd['날짜'] = kt_crowd['날짜'].astype('datetime64[ns]')
kt_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  KT   삼성  수원  17057
1   2022-04-03  일  KT   삼성  수원  10321
2   2022-04-05  화  KT  SSG  수원   2055
3   2022-04-06  수  KT  SSG  수원   2094
4   2022-04-07  목  KT  SSG  수원   2530
..         ... ..  ..  ...  ..    ...
171 2024-06-05  수  KT   한화  수원  14626
172 2024-06-06  목  KT   한화  수원  18700
173 2024-06-07  금  KT   LG  수원  13154
174 2024-06-08  토  KT   LG  수원  18700
175 2024-06-09  일  KT   LG  수원  13642

[176 rows x 6 columns]

In [12]:
# 정보 확인
kt_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    datetime64[ns]
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.4+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
kt_crowd = kt_crowd[kt_crowd['날짜'] < '2024-06-01']
kt_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  KT   삼성  수원  17057
1   2022-04-03  일  KT   삼성  수원  10321
2   2022-04-05  화  KT  SSG  수원   2055
3   2022-04-06  수  KT  SSG  수원   2094
4   2022-04-07  목  KT  SSG  수원   2530
..         ... ..  ..  ...  ..    ...
165 2024-05-17  금  KT   LG  수원  11374
166 2024-05-18  토  KT   LG  수원  18700
167 2024-05-19  일  KT   LG  수원  15912
168 2024-05-24  금  KT   키움  수원   6867
169 2024-05-25  토  KT   키움  수원  12425

[170 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
kt_crowd[kt_crowd.날짜.duplicated()]

            날짜 요일  홈팀  원정팀  장소  관중 수
139 2023-10-04  수  KT  KIA  수원  5907

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [15]:
kt_crowd[kt_crowd.날짜 == '2023-10-04']

            날짜 요일  홈팀  원정팀  장소  관중 수
138 2023-10-04  수  KT  KIA  수원  3908
139 2023-10-04  수  KT  KIA  수원  5907

In [16]:
# 날짜가 중복된 데이터 확인
kt_no_crowd[kt_no_crowd.날짜.duplicated()]

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
282 2023-10-04  19:43  22:13  2:30   이선우     산체스  구장 : 수원

In [17]:
# kiwoom_crowd 기준 병합
kt = \
    pd.merge(
        kt_crowd, kt_no_crowd,
        on='날짜',
        how='inner'
        )
kt

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,토,KT,삼성,수원,17057,13:59,16:40,2:41,쿠에바스,뷰캐넌,구장 : 수원
1,2022-04-03,일,KT,삼성,수원,10321,13:59,17:20,3:21,배제성,수아레즈,구장 : 수원
2,2022-04-05,화,KT,SSG,수원,2055,18:31,21:29,2:58,데스파이네,노바,구장 : 수원
3,2022-04-06,수,KT,SSG,수원,2094,18:30,20:52,2:22,고영표,오원석,구장 : 수원
4,2022-04-07,목,KT,SSG,수원,2530,18:31,21:19,2:48,소형준,이태양,구장 : 수원
...,...,...,...,...,...,...,...,...,...,...,...,...
167,2024-05-17,금,KT,LG,수원,11374,18:30,22:43,4:13,원상현,임찬규,구장 : 수원
168,2024-05-18,토,KT,LG,수원,18700,16:59,20:12,3:13,주권,최원태,구장 : 수원
169,2024-05-19,일,KT,LG,수원,15912,14:00,17:01,3:01,성재헌,손주영,구장 : 수원
170,2024-05-24,금,KT,키움,수원,6867,18:30,21:42,3:12,한차현,전준표,구장 : 수원
171,2024-05-25,토,KT,키움,수원,12425,17:00,19:56,2:56,엄상백,김인범,구장 : 수원

In [18]:
# 날짜 중복된 데이터 확인
kt[kt.날짜 == '2023-10-04']

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
138,2023-10-04,수,KT,KIA,수원,3908,15:00,18:07,3:07,배제성,파노니,구장 : 수원
139,2023-10-04,수,KT,KIA,수원,3908,19:43,22:13,2:30,이선우,산체스,구장 : 수원
140,2023-10-04,수,KT,KIA,수원,5907,15:00,18:07,3:07,배제성,파노니,구장 : 수원
141,2023-10-04,수,KT,KIA,수원,5907,19:43,22:13,2:30,이선우,산체스,구장 : 수원

In [19]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
kt = kt.drop(index=[139,140])
kt = kt.reset_index(drop=True)
kt

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,토,KT,삼성,수원,17057,13:59,16:40,2:41,쿠에바스,뷰캐넌,구장 : 수원
1,2022-04-03,일,KT,삼성,수원,10321,13:59,17:20,3:21,배제성,수아레즈,구장 : 수원
2,2022-04-05,화,KT,SSG,수원,2055,18:31,21:29,2:58,데스파이네,노바,구장 : 수원
3,2022-04-06,수,KT,SSG,수원,2094,18:30,20:52,2:22,고영표,오원석,구장 : 수원
4,2022-04-07,목,KT,SSG,수원,2530,18:31,21:19,2:48,소형준,이태양,구장 : 수원
...,...,...,...,...,...,...,...,...,...,...,...,...
165,2024-05-17,금,KT,LG,수원,11374,18:30,22:43,4:13,원상현,임찬규,구장 : 수원
166,2024-05-18,토,KT,LG,수원,18700,16:59,20:12,3:13,주권,최원태,구장 : 수원
167,2024-05-19,일,KT,LG,수원,15912,14:00,17:01,3:01,성재헌,손주영,구장 : 수원
168,2024-05-24,금,KT,키움,수원,6867,18:30,21:42,3:12,한차현,전준표,구장 : 수원
169,2024-05-25,토,KT,키움,수원,12425,17:00,19:56,2:56,엄상백,김인범,구장 : 수원

In [20]:
# 롯데 전적 관련 데이터 가져오기
kt_rank = pd.read_csv('../Data/rank/KT_rank.csv')
kt_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,KT,1,1,1,0,0,1.000,0.0,1승0무0패,1승,1-0-0,0-0-0
1,2022-04-03,KT,4,2,1,1,0,0.500,1.0,1승0무1패,1패,1-0-1,0-0-0
2,2022-04-05,KT,6,3,1,2,0,0.333,2.0,1승0무2패,2패,1-0-2,0-0-0
3,2022-04-06,KT,7,4,1,3,0,0.250,3.0,1승0무3패,3패,1-0-3,0-0-0
4,2022-04-07,KT,7,5,1,4,0,0.200,4.0,1승0무4패,4패,1-0-4,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,KT,8,55,24,30,1,0.444,10.0,6승0무4패,2패,14-0-11,10-1-19
384,2024-05-31,KT,7,56,25,30,1,0.455,9.0,7승0무3패,1승,14-0-11,11-1-19
385,2024-06-01,KT,7,57,25,31,1,0.446,10.0,6승0무4패,1패,14-0-11,11-1-20
386,2024-06-02,KT,7,58,26,31,1,0.456,9.0,6승0무4패,1승,14-0-11,12-1-20
387,2024-06-04,KT,7,59,26,32,1,0.448,9.0,6승0무4패,1패,14-0-12,12-1-20

In [21]:
kt_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    object
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 39.5+ KB

In [22]:
# 날짜기준으로 병합하기 위해 타입 변환
kt_rank['날짜'] = kt_rank['날짜'].astype('datetime64[ns]')
kt_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,KT,1,1,1,0,0,1.000,0.0,1승0무0패,1승,1-0-0,0-0-0
1,2022-04-03,KT,4,2,1,1,0,0.500,1.0,1승0무1패,1패,1-0-1,0-0-0
2,2022-04-05,KT,6,3,1,2,0,0.333,2.0,1승0무2패,2패,1-0-2,0-0-0
3,2022-04-06,KT,7,4,1,3,0,0.250,3.0,1승0무3패,3패,1-0-3,0-0-0
4,2022-04-07,KT,7,5,1,4,0,0.200,4.0,1승0무4패,4패,1-0-4,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,KT,8,55,24,30,1,0.444,10.0,6승0무4패,2패,14-0-11,10-1-19
384,2024-05-31,KT,7,56,25,30,1,0.455,9.0,7승0무3패,1승,14-0-11,11-1-19
385,2024-06-01,KT,7,57,25,31,1,0.446,10.0,6승0무4패,1패,14-0-11,11-1-20
386,2024-06-02,KT,7,58,26,31,1,0.456,9.0,6승0무4패,1승,14-0-11,12-1-20
387,2024-06-04,KT,7,59,26,32,1,0.448,9.0,6승0무4패,1패,14-0-12,12-1-20

In [23]:
kt_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [24]:
# kiwoom 기준으로 내부 조인 병합
kt_new = kt_rank.merge(kt, on="날짜", how="inner")
kt_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,KT,1,1,1,0,0,1.000,0.0,1승0무0패,...,KT,삼성,수원,17057,13:59,16:40,2:41,쿠에바스,뷰캐넌,구장 : 수원
1,2022-04-03,KT,4,2,1,1,0,0.500,1.0,1승0무1패,...,KT,삼성,수원,10321,13:59,17:20,3:21,배제성,수아레즈,구장 : 수원
2,2022-04-05,KT,6,3,1,2,0,0.333,2.0,1승0무2패,...,KT,SSG,수원,2055,18:31,21:29,2:58,데스파이네,노바,구장 : 수원
3,2022-04-06,KT,7,4,1,3,0,0.250,3.0,1승0무3패,...,KT,SSG,수원,2094,18:30,20:52,2:22,고영표,오원석,구장 : 수원
4,2022-04-07,KT,7,5,1,4,0,0.200,4.0,1승0무4패,...,KT,SSG,수원,2530,18:31,21:19,2:48,소형준,이태양,구장 : 수원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2024-05-17,KT,8,45,18,26,1,0.409,9.5,5승0무5패,...,KT,LG,수원,11374,18:30,22:43,4:13,원상현,임찬규,구장 : 수원
166,2024-05-18,KT,8,46,18,27,1,0.400,10.5,4승0무6패,...,KT,LG,수원,18700,16:59,20:12,3:13,주권,최원태,구장 : 수원
167,2024-05-19,KT,8,47,19,27,1,0.413,10.5,4승0무6패,...,KT,LG,수원,15912,14:00,17:01,3:01,성재헌,손주영,구장 : 수원
168,2024-05-24,KT,7,51,22,28,1,0.440,7.5,5승0무5패,...,KT,키움,수원,6867,18:30,21:42,3:12,한차현,전준표,구장 : 수원
169,2024-05-25,KT,7,52,23,28,1,0.451,7.5,6승0무4패,...,KT,키움,수원,12425,17:00,19:56,2:56,엄상백,김인범,구장 : 수원

In [25]:
# 데이터 저장
kt_new.to_csv('../Data/final_data/kt_new.csv', index=None)