In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
lg_no_crowd = pd.read_csv('../Data/lg.csv')
lg_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
0    2022.04.02(토)  14:00  16:49  2:49   양현종     플럿코  구장 : 광주
1    2022.04.03(일)  14:00  17:26  3:26    놀린     이민호  구장 : 광주
2    2022.04.05(화)  18:30  21:34  3:04   애플러     임찬규  구장 : 고척
3    2022.04.06(수)  18:30  22:13  3:43   최원태     손주영  구장 : 고척
4    2022.04.07(목)  18:30  21:01  2:31   정찬헌     김윤식  구장 : 고척
..             ...    ...    ...   ...   ...     ...      ...
343  2024.05.29(수)  18:30  22:08  3:38   송영진     임찬규  구장 : 문학
344  2024.05.30(목)  18:30  21:20  2:50   앤더슨     최원태  구장 : 문학
345  2024.05.31(금)  18:30  21:57  3:27   브랜든     손주영  구장 : 잠실
346  2024.06.01(토)  17:00  21:02  4:02  알칸타라      켈리  구장 : 잠실
347  2024.06.02(일)  14:00  17:37  3:37   김유성      엔스  구장 : 잠실

[348 rows x 7 columns]

In [4]:
lg_no_crowd['구장'].unique()

array(['구장 : 광주', '구장 : 고척', '구장 : 잠실', '구장 : 대전', '구장 : 대구', '구장 : 창원',
       '구장 : 수원', '구장 : 문학', '구장 : 사직'], dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
lg_no_crowd = lg_no_crowd[lg_no_crowd['구장'] == '구장 : 잠실']
lg_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
5    2022.04.08(금)  18:30  21:23  2:53   플럿코    루친스키  구장 : 잠실
6    2022.04.09(토)  17:01  20:10  3:09   이민호     파슨스  구장 : 잠실
7    2022.04.10(일)  13:59  17:15  3:16    켈리     신민혁  구장 : 잠실
8    2022.04.12(화)  18:30  20:58  2:28   임찬규      노바  구장 : 잠실
9    2022.04.13(수)  18:30  22:11  3:41   손주영     오원석  구장 : 잠실
..             ...    ...    ...   ...   ...     ...      ...
340  2024.05.25(토)  14:01  17:17  3:16   손주영     이용준  구장 : 잠실
341  2024.05.26(일)  14:40  17:29  2:49    켈리    카스타노  구장 : 잠실
345  2024.05.31(금)  18:30  21:57  3:27   브랜든     손주영  구장 : 잠실
346  2024.06.01(토)  17:00  21:02  4:02  알칸타라      켈리  구장 : 잠실
347  2024.06.02(일)  14:00  17:37  3:37   김유성      엔스  구장 : 잠실

[191 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
lg_no_crowd['날짜'] = lg_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
lg_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
5   2022-04-08  18:30  21:23  2:53   플럿코    루친스키  구장 : 잠실
6   2022-04-09  17:01  20:10  3:09   이민호     파슨스  구장 : 잠실
7   2022-04-10  13:59  17:15  3:16    켈리     신민혁  구장 : 잠실
8   2022-04-12  18:30  20:58  2:28   임찬규      노바  구장 : 잠실
9   2022-04-13  18:30  22:11  3:41   손주영     오원석  구장 : 잠실
..         ...    ...    ...   ...   ...     ...      ...
340 2024-05-25  14:01  17:17  3:16   손주영     이용준  구장 : 잠실
341 2024-05-26  14:40  17:29  2:49    켈리    카스타노  구장 : 잠실
345 2024-05-31  18:30  21:57  3:27   브랜든     손주영  구장 : 잠실
346 2024-06-01  17:00  21:02  4:02  알칸타라      켈리  구장 : 잠실
347 2024-06-02  14:00  17:37  3:37   김유성      엔스  구장 : 잠실

[191 rows x 7 columns]

In [7]:
# 정보 확인하기
lg_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 5 to 347
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       191 non-null    datetime64[ns]
 1   시작시간     191 non-null    object
 2   종료시간     191 non-null    object
 3   경기시간     191 non-null    object
 4   홈팀 선발    191 non-null    object
 5   어웨이팀 선발  191 non-null    object
 6   구장       191 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 11.9+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
lg_no_crowd = lg_no_crowd[lg_no_crowd['날짜'] < '2024-06-01']
lg_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
5   2022-04-08  18:30  21:23  2:53   플럿코    루친스키  구장 : 잠실
6   2022-04-09  17:01  20:10  3:09   이민호     파슨스  구장 : 잠실
7   2022-04-10  13:59  17:15  3:16    켈리     신민혁  구장 : 잠실
8   2022-04-12  18:30  20:58  2:28   임찬규      노바  구장 : 잠실
9   2022-04-13  18:30  22:11  3:41   손주영     오원석  구장 : 잠실
..         ...    ...    ...   ...   ...     ...      ...
332 2024-05-16  18:30  22:09  3:39    엔스     후라도  구장 : 잠실
339 2024-05-24  18:31  21:23  2:52   최원태     이준호  구장 : 잠실
340 2024-05-25  14:01  17:17  3:16   손주영     이용준  구장 : 잠실
341 2024-05-26  14:40  17:29  2:49    켈리    카스타노  구장 : 잠실
345 2024-05-31  18:30  21:57  3:27   브랜든     손주영  구장 : 잠실

[189 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
lg_crowd = pd.read_csv('../Data/crowd/lg.csv')
lg_crowd

             날짜 요일  홈팀  원정팀  장소   관중 수
0    2022-04-08  금  LG   NC  잠실  10623
1    2022-04-09  토  LG   NC  잠실  14328
2    2022-04-10  일  LG   NC  잠실  13095
3    2022-04-12  화  LG  SSG  잠실   6028
4    2022-04-13  수  LG  SSG  잠실   4547
..          ... ..  ..  ...  ..    ...
168  2024-05-25  토  LG   NC  잠실  22261
169  2024-05-26  일  LG   NC  잠실  17692
170  2024-06-04  화  LG   키움  잠실  14490
171  2024-06-05  수  LG   키움  잠실  16681
172  2024-06-06  목  LG   키움  잠실  23750

[173 rows x 6 columns]

In [10]:
# 정보확인
lg_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      173 non-null    object
 1   요일      173 non-null    object
 2   홈팀      173 non-null    object
 3   원정팀     173 non-null    object
 4   장소      173 non-null    object
 5   관중 수    173 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.2+ KB

In [11]:
# 날짜 데이터 타입 변환
lg_crowd['날짜'] = lg_crowd['날짜'].astype('datetime64[ns]')
lg_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-08  금  LG   NC  잠실  10623
1   2022-04-09  토  LG   NC  잠실  14328
2   2022-04-10  일  LG   NC  잠실  13095
3   2022-04-12  화  LG  SSG  잠실   6028
4   2022-04-13  수  LG  SSG  잠실   4547
..         ... ..  ..  ...  ..    ...
168 2024-05-25  토  LG   NC  잠실  22261
169 2024-05-26  일  LG   NC  잠실  17692
170 2024-06-04  화  LG   키움  잠실  14490
171 2024-06-05  수  LG   키움  잠실  16681
172 2024-06-06  목  LG   키움  잠실  23750

[173 rows x 6 columns]

In [12]:
# 정보 확인
lg_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      173 non-null    datetime64[ns]
 1   요일      173 non-null    object
 2   홈팀      173 non-null    object
 3   원정팀     173 non-null    object
 4   장소      173 non-null    object
 5   관중 수    173 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.2+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
lg_crowd = lg_crowd[lg_crowd['날짜'] < '2024-06-01']
lg_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-08  금  LG   NC  잠실  10623
1   2022-04-09  토  LG   NC  잠실  14328
2   2022-04-10  일  LG   NC  잠실  13095
3   2022-04-12  화  LG  SSG  잠실   6028
4   2022-04-13  수  LG  SSG  잠실   4547
..         ... ..  ..  ...  ..    ...
165 2024-05-14  화  LG   키움  잠실  18479
166 2024-05-16  목  LG   키움  잠실  15054
167 2024-05-24  금  LG   NC  잠실  18551
168 2024-05-25  토  LG   NC  잠실  22261
169 2024-05-26  일  LG   NC  잠실  17692

[170 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
lg_crowd[lg_crowd.날짜.duplicated()]

            날짜 요일  홈팀  원정팀  장소   관중 수
131 2023-09-17  일  LG  SSG  잠실  14237
136 2023-09-27  수  LG   KT  잠실  14733

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [ ]:
nc_crowd[nc_crowd.날짜 == '2023-09-09']

In [ ]:
nc_crowd[nc_crowd.날짜 == '2023-09-27']

In [ ]:
# 날짜가 중복된 데이터 확인
nc_no_crowd[nc_no_crowd.날짜.duplicated()]

In [ ]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-09']

In [ ]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-27']

In [15]:
# kiwoom_crowd 기준 병합
lg = \
    pd.merge(
        lg_crowd, lg_no_crowd,
        on='날짜',
        how='inner'
        )
lg

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-08,금,LG,NC,잠실,10623,18:30,21:23,2:53,플럿코,루친스키,구장 : 잠실
1,2022-04-09,토,LG,NC,잠실,14328,17:01,20:10,3:09,이민호,파슨스,구장 : 잠실
2,2022-04-10,일,LG,NC,잠실,13095,13:59,17:15,3:16,켈리,신민혁,구장 : 잠실
3,2022-04-12,화,LG,SSG,잠실,6028,18:30,20:58,2:28,임찬규,노바,구장 : 잠실
4,2022-04-13,수,LG,SSG,잠실,4547,18:30,22:11,3:41,손주영,오원석,구장 : 잠실
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2024-05-14,화,LG,키움,잠실,18479,18:30,21:37,3:07,켈리,김인범,구장 : 잠실
170,2024-05-16,목,LG,키움,잠실,15054,18:30,22:09,3:39,엔스,후라도,구장 : 잠실
171,2024-05-24,금,LG,NC,잠실,18551,18:31,21:23,2:52,최원태,이준호,구장 : 잠실
172,2024-05-25,토,LG,NC,잠실,22261,14:01,17:17,3:16,손주영,이용준,구장 : 잠실
173,2024-05-26,일,LG,NC,잠실,17692,14:40,17:29,2:49,켈리,카스타노,구장 : 잠실

In [ ]:
# 날짜 중복된 데이터 확인
nc[nc.날짜 == '2023-09-09']

In [ ]:
nc[nc.날짜 == '2023-09-27']

In [ ]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
nc = nc.drop(index=[127,128])
nc = nc.drop(index=[137,138])
nc = nc.reset_index(drop=True)
nc

In [16]:
# 롯데 전적 관련 데이터 가져오기
lg_rank = pd.read_csv('../Data/rank/LG_rank.csv')
lg_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,LG,1,1,1,0,0,1.000,0.0,1승0무0패,1승,0-0-0,1-0-0
1,2022-04-03,LG,1,2,2,0,0,1.000,0.0,2승0무0패,2승,0-0-0,2-0-0
2,2022-04-05,LG,1,3,3,0,0,1.000,0.0,3승0무0패,3승,0-0-0,3-0-0
3,2022-04-06,LG,1,4,4,0,0,1.000,0.0,4승0무0패,4승,0-0-0,4-0-0
4,2022-04-07,LG,1,5,5,0,0,1.000,0.0,5승0무0패,5승,0-0-0,5-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,LG,3,57,31,24,2,0.564,3.5,6승0무4패,1패,16-1-10,15-1-14
384,2024-05-31,LG,2,58,32,24,2,0.571,2.5,7승0무3패,1승,16-1-10,16-1-14
385,2024-06-01,LG,2,59,33,24,2,0.579,2.5,8승0무2패,2승,16-1-10,17-1-14
386,2024-06-02,LG,2,60,34,24,2,0.586,1.5,9승0무1패,3승,16-1-10,18-1-14
387,2024-06-04,LG,2,61,34,25,2,0.576,1.5,8승0무2패,1패,16-1-11,18-1-14

In [ ]:
lg_rank.info()

In [17]:
# 날짜기준으로 병합하기 위해 타입 변환
lg_rank['날짜'] = lg_rank['날짜'].astype('datetime64[ns]')
lg_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,LG,1,1,1,0,0,1.000,0.0,1승0무0패,1승,0-0-0,1-0-0
1,2022-04-03,LG,1,2,2,0,0,1.000,0.0,2승0무0패,2승,0-0-0,2-0-0
2,2022-04-05,LG,1,3,3,0,0,1.000,0.0,3승0무0패,3승,0-0-0,3-0-0
3,2022-04-06,LG,1,4,4,0,0,1.000,0.0,4승0무0패,4승,0-0-0,4-0-0
4,2022-04-07,LG,1,5,5,0,0,1.000,0.0,5승0무0패,5승,0-0-0,5-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,LG,3,57,31,24,2,0.564,3.5,6승0무4패,1패,16-1-10,15-1-14
384,2024-05-31,LG,2,58,32,24,2,0.571,2.5,7승0무3패,1승,16-1-10,16-1-14
385,2024-06-01,LG,2,59,33,24,2,0.579,2.5,8승0무2패,2승,16-1-10,17-1-14
386,2024-06-02,LG,2,60,34,24,2,0.586,1.5,9승0무1패,3승,16-1-10,18-1-14
387,2024-06-04,LG,2,61,34,25,2,0.576,1.5,8승0무2패,1패,16-1-11,18-1-14

In [18]:
lg_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [19]:
# kiwoom 기준으로 내부 조인 병합
lg_new = lg_rank.merge(lg, on="날짜", how="inner")
lg_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-08,LG,2,6,5,1,0,0.833,1.0,5승0무1패,...,LG,NC,잠실,10623,18:30,21:23,2:53,플럿코,루친스키,구장 : 잠실
1,2022-04-09,LG,2,7,6,1,0,0.857,1.0,6승0무1패,...,LG,NC,잠실,14328,17:01,20:10,3:09,이민호,파슨스,구장 : 잠실
2,2022-04-10,LG,2,8,7,1,0,0.875,1.0,7승0무1패,...,LG,NC,잠실,13095,13:59,17:15,3:16,켈리,신민혁,구장 : 잠실
3,2022-04-12,LG,2,9,7,2,0,0.778,2.0,7승0무2패,...,LG,SSG,잠실,6028,18:30,20:58,2:28,임찬규,노바,구장 : 잠실
4,2022-04-13,LG,2,10,7,3,0,0.700,3.0,7승0무3패,...,LG,SSG,잠실,4547,18:30,22:11,3:41,손주영,오원석,구장 : 잠실
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2024-05-14,LG,5,44,23,19,2,0.548,2.5,6승0무4패,...,LG,키움,잠실,18479,18:30,21:37,3:07,켈리,김인범,구장 : 잠실
170,2024-05-16,LG,5,45,23,20,2,0.535,3.5,5승0무5패,...,LG,키움,잠실,15054,18:30,22:09,3:39,엔스,후라도,구장 : 잠실
171,2024-05-24,LG,5,52,27,23,2,0.540,2.5,5승0무5패,...,LG,NC,잠실,18551,18:31,21:23,2:52,최원태,이준호,구장 : 잠실
172,2024-05-25,LG,4,53,28,23,2,0.549,2.5,5승0무5패,...,LG,NC,잠실,22261,14:01,17:17,3:16,손주영,이용준,구장 : 잠실
173,2024-05-26,LG,3,54,29,23,2,0.558,2.5,6승0무4패,...,LG,NC,잠실,17692,14:40,17:29,2:49,켈리,카스타노,구장 : 잠실

In [20]:
# 데이터 저장
lg_new.to_csv('../Data/final_data/lg_new.csv', index=None)