In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
ssg_no_crowd = pd.read_csv('../Data/ssg.csv')
ssg_no_crowd

                날짜   시작시간   종료시간  경기시간  홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:03  16:56  2:53   루친스키      폰트  창원
1    2022.04.03(일)  13:59  17:02  3:03    파슨스     노경은  창원
2    2022.04.05(화)  18:31  21:29  2:58  데스파이네      노바  수원
3    2022.04.06(수)  18:30  20:52  2:22    고영표     오원석  수원
4    2022.04.07(목)  18:31  21:19  2:48    소형준     이태양  수원
..             ...    ...    ...   ...    ...     ...  ..
341  2024.05.29(수)  18:30  22:08  3:38    송영진     임찬규  문학
342  2024.05.30(목)  18:30  21:20  2:50    앤더슨     최원태  문학
343  2024.05.31(금)  18:30  21:23  2:53    김인범     오원석  고척
344  2024.06.01(토)  17:01  19:53  2:52    조영건    시라카와  고척
345  2024.06.02(일)  14:00  17:22  3:22    전준표     박종훈  고척

[346 rows x 7 columns]

In [4]:
ssg_no_crowd['구장'].unique()

array(['창원', '수원', '문학', '잠실', '대전', '사직', '고척', '대구', '광주'], dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
ssg_no_crowd = ssg_no_crowd[ssg_no_crowd['구장'] == '문학']
ssg_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5    2022.04.08(금)  18:31  21:12  2:41    폰트     양현종  문학
6    2022.04.09(토)  17:00  19:35  2:35   김광현     이민우  문학
7    2022.04.10(일)  14:00  16:57  2:57   노경은      로니  문학
11   2022.04.15(금)  18:30  21:09  2:39   김광현    수아레즈  문학
12   2022.04.16(토)  14:00  17:14  3:14   노경은     백정현  문학
..             ...    ...    ...   ...   ...     ...  ..
338  2024.05.24(금)  18:30  21:52  3:22   앤더슨     조동욱  문학
339  2024.05.25(토)  16:59  20:48  3:49   오원석     류현진  문학
340  2024.05.28(화)  18:30  21:55  3:25   김광현      엔스  문학
341  2024.05.29(수)  18:30  22:08  3:38   송영진     임찬규  문학
342  2024.05.30(목)  18:30  21:20  2:50   앤더슨     최원태  문학

[174 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
ssg_no_crowd['날짜'] = ssg_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
ssg_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:31  21:12  2:41    폰트     양현종  문학
6   2022-04-09  17:00  19:35  2:35   김광현     이민우  문학
7   2022-04-10  14:00  16:57  2:57   노경은      로니  문학
11  2022-04-15  18:30  21:09  2:39   김광현    수아레즈  문학
12  2022-04-16  14:00  17:14  3:14   노경은     백정현  문학
..         ...    ...    ...   ...   ...     ...  ..
338 2024-05-24  18:30  21:52  3:22   앤더슨     조동욱  문학
339 2024-05-25  16:59  20:48  3:49   오원석     류현진  문학
340 2024-05-28  18:30  21:55  3:25   김광현      엔스  문학
341 2024-05-29  18:30  22:08  3:38   송영진     임찬규  문학
342 2024-05-30  18:30  21:20  2:50   앤더슨     최원태  문학

[174 rows x 7 columns]

In [7]:
# 정보 확인하기
ssg_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 174 entries, 5 to 342
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       174 non-null    datetime64[ns]
 1   시작시간     174 non-null    object
 2   종료시간     174 non-null    object
 3   경기시간     174 non-null    object
 4   홈팀 선발    174 non-null    object
 5   어웨이팀 선발  174 non-null    object
 6   구장       174 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.9+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
ssg_no_crowd = ssg_no_crowd[ssg_no_crowd['날짜'] < '2024-06-01']
ssg_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:31  21:12  2:41    폰트     양현종  문학
6   2022-04-09  17:00  19:35  2:35   김광현     이민우  문학
7   2022-04-10  14:00  16:57  2:57   노경은      로니  문학
11  2022-04-15  18:30  21:09  2:39   김광현    수아레즈  문학
12  2022-04-16  14:00  17:14  3:14   노경은     백정현  문학
..         ...    ...    ...   ...   ...     ...  ..
338 2024-05-24  18:30  21:52  3:22   앤더슨     조동욱  문학
339 2024-05-25  16:59  20:48  3:49   오원석     류현진  문학
340 2024-05-28  18:30  21:55  3:25   김광현      엔스  문학
341 2024-05-29  18:30  22:08  3:38   송영진     임찬규  문학
342 2024-05-30  18:30  21:20  2:50   앤더슨     최원태  문학

[174 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
ssg_crowd = pd.read_csv('../Data/crowd/ssg.csv')
ssg_crowd

             날짜 요일   홈팀  원정팀  장소   관중 수
0    2022-04-08  금  SSG  KIA  문학  15615
1    2022-04-09  토  SSG  KIA  문학  21005
2    2022-04-10  일  SSG  KIA  문학  17849
3    2022-04-15  금  SSG   삼성  문학   9441
4    2022-04-16  토  SSG   삼성  문학  16037
..          ... ..  ...  ...  ..    ...
174  2024-06-04  화  SSG   삼성  문학  10135
175  2024-06-05  수  SSG   삼성  문학  14532
176  2024-06-06  목  SSG   삼성  문학  23000
177  2024-06-11  화  SSG  KIA  문학  16007
178  2024-06-12  수  SSG  KIA  문학  16483

[179 rows x 6 columns]

In [10]:
# 정보확인
ssg_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      179 non-null    object
 1   요일      179 non-null    object
 2   홈팀      179 non-null    object
 3   원정팀     179 non-null    object
 4   장소      179 non-null    object
 5   관중 수    179 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.5+ KB

In [11]:
# 날짜 데이터 타입 변환
ssg_crowd['날짜'] = ssg_crowd['날짜'].astype('datetime64[ns]')
ssg_crowd

            날짜 요일   홈팀  원정팀  장소   관중 수
0   2022-04-08  금  SSG  KIA  문학  15615
1   2022-04-09  토  SSG  KIA  문학  21005
2   2022-04-10  일  SSG  KIA  문학  17849
3   2022-04-15  금  SSG   삼성  문학   9441
4   2022-04-16  토  SSG   삼성  문학  16037
..         ... ..  ...  ...  ..    ...
174 2024-06-04  화  SSG   삼성  문학  10135
175 2024-06-05  수  SSG   삼성  문학  14532
176 2024-06-06  목  SSG   삼성  문학  23000
177 2024-06-11  화  SSG  KIA  문학  16007
178 2024-06-12  수  SSG  KIA  문학  16483

[179 rows x 6 columns]

In [12]:
# 정보 확인
ssg_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      179 non-null    datetime64[ns]
 1   요일      179 non-null    object
 2   홈팀      179 non-null    object
 3   원정팀     179 non-null    object
 4   장소      179 non-null    object
 5   관중 수    179 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.5+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
ssg_crowd = ssg_crowd[ssg_crowd['날짜'] < '2024-06-01']
ssg_crowd

            날짜 요일   홈팀  원정팀  장소   관중 수
0   2022-04-08  금  SSG  KIA  문학  15615
1   2022-04-09  토  SSG  KIA  문학  21005
2   2022-04-10  일  SSG  KIA  문학  17849
3   2022-04-15  금  SSG   삼성  문학   9441
4   2022-04-16  토  SSG   삼성  문학  16037
..         ... ..  ...  ...  ..    ...
169 2024-05-24  금  SSG   한화  문학  22451
170 2024-05-25  토  SSG   한화  문학  23000
171 2024-05-28  화  SSG   LG  문학  14116
172 2024-05-29  수  SSG   LG  문학  14413
173 2024-05-30  목  SSG   LG  문학  15902

[174 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
ssg_crowd[ssg_crowd.날짜.duplicated()]

            날짜 요일   홈팀 원정팀  장소   관중 수
136 2023-09-27  수  SSG  두산  문학  12132
161 2024-04-21  일  SSG  LG  문학   9656

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [15]:
ssg_crowd[ssg_crowd.날짜 == '2023-09-27']

            날짜 요일   홈팀 원정팀  장소   관중 수
135 2023-09-27  수  SSG  두산  문학   6526
136 2023-09-27  수  SSG  두산  문학  12132

In [16]:
ssg_crowd[ssg_crowd.날짜 == '2024-04-21']

            날짜 요일   홈팀 원정팀  장소   관중 수
160 2024-04-21  일  SSG  LG  문학  19858
161 2024-04-21  일  SSG  LG  문학   9656

In [17]:
# 날짜가 중복된 데이터 확인
ssg_no_crowd[ssg_no_crowd.날짜.duplicated()]

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
273 2023-09-27  19:34  22:34  3:00  엘리아스     최승용  문학
313 2024-04-21  17:40  21:16  3:36   오원석     손주영  문학

In [18]:
ssg_no_crowd[ssg_no_crowd.날짜 == '2023-09-27']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
272 2023-09-27  15:00  19:04  4:04   김광현     브랜든  문학
273 2023-09-27  19:34  22:34  3:00  엘리아스     최승용  문학

In [19]:
ssg_no_crowd[ssg_no_crowd.날짜 == '2024-04-21']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
312 2024-04-21  14:00  17:00  3:00   김광현      엔스  문학
313 2024-04-21  17:40  21:16  3:36   오원석     손주영  문학

In [20]:
# kiwoom_crowd 기준 병합
ssg = \
    pd.merge(
        ssg_crowd, ssg_no_crowd,
        on='날짜',
        how='inner'
        )
ssg

            날짜 요일   홈팀  원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  SSG  KIA  문학  15615  18:31  21:12  2:41    폰트     양현종  문학
1   2022-04-09  토  SSG  KIA  문학  21005  17:00  19:35  2:35   김광현     이민우  문학
2   2022-04-10  일  SSG  KIA  문학  17849  14:00  16:57  2:57   노경은      로니  문학
3   2022-04-15  금  SSG   삼성  문학   9441  18:30  21:09  2:39   김광현    수아레즈  문학
4   2022-04-16  토  SSG   삼성  문학  16037  14:00  17:14  3:14   노경은     백정현  문학
..         ... ..  ...  ...  ..    ...    ...    ...   ...   ...     ...  ..
173 2024-05-24  금  SSG   한화  문학  22451  18:30  21:52  3:22   앤더슨     조동욱  문학
174 2024-05-25  토  SSG   한화  문학  23000  16:59  20:48  3:49   오원석     류현진  문학
175 2024-05-28  화  SSG   LG  문학  14116  18:30  21:55  3:25   김광현      엔스  문학
176 2024-05-29  수  SSG   LG  문학  14413  18:30  22:08  3:38   송영진     임찬규  문학
177 2024-05-30  목  SSG   LG  문학  15902  18:30  21:20  2:50   앤더슨     최원태  문학

[178 rows x 12 columns]

In [21]:
ssg[ssg.날짜 == '2023-09-27']

            날짜 요일   홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
135 2023-09-27  수  SSG  두산  문학   6526  15:00  19:04  4:04   김광현     브랜든  문학
136 2023-09-27  수  SSG  두산  문학   6526  19:34  22:34  3:00  엘리아스     최승용  문학
137 2023-09-27  수  SSG  두산  문학  12132  15:00  19:04  4:04   김광현     브랜든  문학
138 2023-09-27  수  SSG  두산  문학  12132  19:34  22:34  3:00  엘리아스     최승용  문학

In [22]:
ssg[ssg.날짜 == '2024-04-21']

            날짜 요일   홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
162 2024-04-21  일  SSG  LG  문학  19858  14:00  17:00  3:00   김광현      엔스  문학
163 2024-04-21  일  SSG  LG  문학  19858  17:40  21:16  3:36   오원석     손주영  문학
164 2024-04-21  일  SSG  LG  문학   9656  14:00  17:00  3:00   김광현      엔스  문학
165 2024-04-21  일  SSG  LG  문학   9656  17:40  21:16  3:36   오원석     손주영  문학

In [23]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
ssg = ssg.drop(index=[136,137])
ssg = ssg.drop(index=[163,164])
ssg = ssg.reset_index(drop=True)
ssg

            날짜 요일   홈팀  원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  SSG  KIA  문학  15615  18:31  21:12  2:41    폰트     양현종  문학
1   2022-04-09  토  SSG  KIA  문학  21005  17:00  19:35  2:35   김광현     이민우  문학
2   2022-04-10  일  SSG  KIA  문학  17849  14:00  16:57  2:57   노경은      로니  문학
3   2022-04-15  금  SSG   삼성  문학   9441  18:30  21:09  2:39   김광현    수아레즈  문학
4   2022-04-16  토  SSG   삼성  문학  16037  14:00  17:14  3:14   노경은     백정현  문학
..         ... ..  ...  ...  ..    ...    ...    ...   ...   ...     ...  ..
169 2024-05-24  금  SSG   한화  문학  22451  18:30  21:52  3:22   앤더슨     조동욱  문학
170 2024-05-25  토  SSG   한화  문학  23000  16:59  20:48  3:49   오원석     류현진  문학
171 2024-05-28  화  SSG   LG  문학  14116  18:30  21:55  3:25   김광현      엔스  문학
172 2024-05-29  수  SSG   LG  문학  14413  18:30  22:08  3:38   송영진     임찬규  문학
173 2024-05-30  목  SSG   LG  문학  15902  18:30  21:20  2:50   앤더슨     최원태  문학

[174 rows x 12 columns]

In [24]:
# 롯데 전적 관련 데이터 가져오기
ssg_rank = pd.read_csv('../Data/rank/SSG_rank.csv')
ssg

            날짜 요일   홈팀  원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  SSG  KIA  문학  15615  18:31  21:12  2:41    폰트     양현종  문학
1   2022-04-09  토  SSG  KIA  문학  21005  17:00  19:35  2:35   김광현     이민우  문학
2   2022-04-10  일  SSG  KIA  문학  17849  14:00  16:57  2:57   노경은      로니  문학
3   2022-04-15  금  SSG   삼성  문학   9441  18:30  21:09  2:39   김광현    수아레즈  문학
4   2022-04-16  토  SSG   삼성  문학  16037  14:00  17:14  3:14   노경은     백정현  문학
..         ... ..  ...  ...  ..    ...    ...    ...   ...   ...     ...  ..
169 2024-05-24  금  SSG   한화  문학  22451  18:30  21:52  3:22   앤더슨     조동욱  문학
170 2024-05-25  토  SSG   한화  문학  23000  16:59  20:48  3:49   오원석     류현진  문학
171 2024-05-28  화  SSG   LG  문학  14116  18:30  21:55  3:25   김광현      엔스  문학
172 2024-05-29  수  SSG   LG  문학  14413  18:30  22:08  3:38   송영진     임찬규  문학
173 2024-05-30  목  SSG   LG  문학  15902  18:30  21:20  2:50   앤더슨     최원태  문학

[174 rows x 12 columns]

In [ ]:
ssg_rank.info()

In [25]:
# 날짜기준으로 병합하기 위해 타입 변환
ssg_rank['날짜'] = ssg_rank['날짜'].astype('datetime64[ns]')
ssg_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,SSG,1,1,1,0,0,1.000,0.0,1승0무0패,1승,0-0-0,1-0-0
1,2022-04-03,SSG,1,2,2,0,0,1.000,0.0,2승0무0패,2승,0-0-0,2-0-0
2,2022-04-05,SSG,1,3,3,0,0,1.000,0.0,3승0무0패,3승,0-0-0,3-0-0
3,2022-04-06,SSG,1,4,4,0,0,1.000,0.0,4승0무0패,4승,0-0-0,4-0-0
4,2022-04-07,SSG,1,5,5,0,0,1.000,0.0,5승0무0패,5승,0-0-0,5-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,SSG,6,55,26,28,1,0.481,8.0,2승0무8패,1승,13-1-15,13-0-13
384,2024-05-31,SSG,5,56,27,28,1,0.491,7.0,2승0무8패,2승,13-1-15,14-0-13
385,2024-06-01,SSG,5,57,28,28,1,0.500,7.0,3승0무7패,3승,13-1-15,15-0-13
386,2024-06-02,SSG,5,58,29,28,1,0.509,6.0,4승0무6패,4승,13-1-15,16-0-13
387,2024-06-04,SSG,5,59,29,29,1,0.500,6.0,4승0무6패,1패,13-1-16,16-0-13

In [26]:
ssg_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [ ]:
# kiwoom 기준으로 내부 조인 병합
hanwha_new = hanwha_rank.merge(hanwha, on="날짜", how="inner")
hanwha_new

In [ ]:
# 데이터 저장
hanwha_new.to_csv('../Data/final_data/hanwha_new.csv', index=None)