In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
kia_no_crowd = pd.read_csv('../Data/kia.csv')
kia_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:00  16:49  2:49   양현종     플럿코  광주
1    2022.04.03(일)  14:00  17:26  3:26    놀린     이민호  광주
2    2022.04.05(화)  18:29  21:57  3:28    로니     윤대경  광주
3    2022.04.06(수)  18:30  22:20  3:50   이의리     카펜터  광주
4    2022.04.07(목)  18:29  21:40  3:11   한승혁     박윤철  광주
..             ...    ...    ...   ...   ...     ...  ..
501  2024.05.29(수)  18:30  21:54  3:24    하트     이의리  창원
502  2024.05.30(목)  18:31  21:14  2:43   김시훈     황동하  창원
503  2024.05.31(금)  18:29  21:29  3:00   양현종     엄상백  광주
504  2024.06.01(토)  17:01  20:00  2:59    네일     육청명  광주
505  2024.06.02(일)  17:00  19:54  2:54   윤영철    쿠에바스  광주

[506 rows x 7 columns]

In [4]:
kia_no_crowd['구장'].unique()

array(['광주', '문학', '창원', '고척', '수원', '대전', '잠실', '사직', '대구', '울산', '포항'],
      dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
kia_no_crowd = kia_no_crowd[kia_no_crowd['구장'] == '광주']
kia_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:00  16:49  2:49   양현종     플럿코  광주
1    2022.04.03(일)  14:00  17:26  3:26    놀린     이민호  광주
2    2022.04.05(화)  18:29  21:57  3:28    로니     윤대경  광주
3    2022.04.06(수)  18:30  22:20  3:50   이의리     카펜터  광주
4    2022.04.07(목)  18:29  21:40  3:11   한승혁     박윤철  광주
..             ...    ...    ...   ...   ...     ...  ..
498  2024.05.25(토)  14:00  17:04  3:04   양현종     브랜든  광주
499  2024.05.26(일)  14:00  16:44  2:44    네일    알칸타라  광주
503  2024.05.31(금)  18:29  21:29  3:00   양현종     엄상백  광주
504  2024.06.01(토)  17:01  20:00  2:59    네일     육청명  광주
505  2024.06.02(일)  17:00  19:54  2:54   윤영철    쿠에바스  광주

[252 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
kia_no_crowd['날짜'] = kia_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
kia_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
1   2022-04-03  14:00  17:26  3:26    놀린     이민호  광주
2   2022-04-05  18:29  21:57  3:28    로니     윤대경  광주
3   2022-04-06  18:30  22:20  3:50   이의리     카펜터  광주
4   2022-04-07  18:29  21:40  3:11   한승혁     박윤철  광주
..         ...    ...    ...   ...   ...     ...  ..
498 2024-05-25  14:00  17:04  3:04   양현종     브랜든  광주
499 2024-05-26  14:00  16:44  2:44    네일    알칸타라  광주
503 2024-05-31  18:29  21:29  3:00   양현종     엄상백  광주
504 2024-06-01  17:01  20:00  2:59    네일     육청명  광주
505 2024-06-02  17:00  19:54  2:54   윤영철    쿠에바스  광주

[252 rows x 7 columns]

In [7]:
# 정보 확인하기
kia_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 0 to 505
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       252 non-null    datetime64[ns]
 1   시작시간     252 non-null    object
 2   종료시간     252 non-null    object
 3   경기시간     252 non-null    object
 4   홈팀 선발    252 non-null    object
 5   어웨이팀 선발  252 non-null    object
 6   구장       252 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 15.8+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
kia_no_crowd = kia_no_crowd[kia_no_crowd['날짜'] < '2024-06-01']
kia_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
1   2022-04-03  14:00  17:26  3:26    놀린     이민호  광주
2   2022-04-05  18:29  21:57  3:28    로니     윤대경  광주
3   2022-04-06  18:30  22:20  3:50   이의리     카펜터  광주
4   2022-04-07  18:29  21:40  3:11   한승혁     박윤철  광주
..         ...    ...    ...   ...   ...     ...  ..
490 2024-05-16  18:29  23:09  4:40   윤영철     김동주  광주
497 2024-05-24  18:30  21:53  3:23   황동하      곽빈  광주
498 2024-05-25  14:00  17:04  3:04   양현종     브랜든  광주
499 2024-05-26  14:00  16:44  2:44    네일    알칸타라  광주
503 2024-05-31  18:29  21:29  3:00   양현종     엄상백  광주

[250 rows x 7 columns]

In [10]:
# 롯데 관중 수 있는 데이터 가져오기
kia_crowd = pd.read_csv('../Data/crowd/kia.csv')
kia_crowd

             날짜 요일   홈팀 원정팀  장소   관중 수
0    2022-04-02  토  KIA  LG  광주  16908
1    2022-04-03  일  KIA  LG  광주  10290
2    2022-04-05  화  KIA  한화  광주   2840
3    2022-04-06  수  KIA  한화  광주   3117
4    2022-04-07  목  KIA  한화  광주   2773
..          ... ..  ...  ..  ..    ...
170  2024-06-01  토  KIA  KT  광주  20500
171  2024-06-02  일  KIA  KT  광주  20500
172  2024-06-04  화  KIA  롯데  광주  16158
173  2024-06-05  수  KIA  롯데  광주  19045
174  2024-06-06  목  KIA  롯데  광주  20500

[175 rows x 6 columns]

In [11]:
# 정보확인
kia_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      175 non-null    object
 1   요일      175 non-null    object
 2   홈팀      175 non-null    object
 3   원정팀     175 non-null    object
 4   장소      175 non-null    object
 5   관중 수    175 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.3+ KB

In [12]:
# 날짜 데이터 타입 변환
kia_crowd['날짜'] = kia_crowd['날짜'].astype('datetime64[ns]')
kia_crowd

            날짜 요일   홈팀 원정팀  장소   관중 수
0   2022-04-02  토  KIA  LG  광주  16908
1   2022-04-03  일  KIA  LG  광주  10290
2   2022-04-05  화  KIA  한화  광주   2840
3   2022-04-06  수  KIA  한화  광주   3117
4   2022-04-07  목  KIA  한화  광주   2773
..         ... ..  ...  ..  ..    ...
170 2024-06-01  토  KIA  KT  광주  20500
171 2024-06-02  일  KIA  KT  광주  20500
172 2024-06-04  화  KIA  롯데  광주  16158
173 2024-06-05  수  KIA  롯데  광주  19045
174 2024-06-06  목  KIA  롯데  광주  20500

[175 rows x 6 columns]

In [13]:
# 정보 확인
kia_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      175 non-null    datetime64[ns]
 1   요일      175 non-null    object
 2   홈팀      175 non-null    object
 3   원정팀     175 non-null    object
 4   장소      175 non-null    object
 5   관중 수    175 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.3+ KB

In [14]:
# 2024년 06월 이전 데이터만 가져오기
kia_crowd = kia_crowd[kia_crowd['날짜'] < '2024-06-01']
kia_crowd

            날짜 요일   홈팀 원정팀  장소   관중 수
0   2022-04-02  토  KIA  LG  광주  16908
1   2022-04-03  일  KIA  LG  광주  10290
2   2022-04-05  화  KIA  한화  광주   2840
3   2022-04-06  수  KIA  한화  광주   3117
4   2022-04-07  목  KIA  한화  광주   2773
..         ... ..  ...  ..  ..    ...
165 2024-05-16  목  KIA  두산  광주  15996
166 2024-05-24  금  KIA  두산  광주  20500
167 2024-05-25  토  KIA  두산  광주  20500
168 2024-05-26  일  KIA  두산  광주  20500
169 2024-05-31  금  KIA  KT  광주  20500

[170 rows x 6 columns]

In [15]:
# 날짜가 중복된 데이터 확인
kia_crowd[kia_crowd.날짜.duplicated()]

            날짜 요일   홈팀  원정팀  장소   관중 수
126 2023-09-09  토  KIA   LG  광주  18462
162 2024-05-12  일  KIA  SSG  광주  12743

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [16]:
kia_crowd[kia_crowd.날짜 == '2023-09-09']

            날짜 요일   홈팀 원정팀  장소   관중 수
125 2023-09-09  토  KIA  LG  광주  11820
126 2023-09-09  토  KIA  LG  광주  18462

In [17]:
kia_crowd[kia_crowd.날짜 == '2024-05-12']

            날짜 요일   홈팀  원정팀  장소   관중 수
161 2024-05-12  일  KIA  SSG  광주  20500
162 2024-05-12  일  KIA  SSG  광주  12743

In [20]:
# 날짜가 중복된 데이터 확인
kia_no_crowd[kia_no_crowd.날짜.duplicated()]

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
158 2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
159 2022-04-03  14:00  17:26  3:26    놀린     이민호  광주
160 2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
161 2022-04-03  14:00  17:26  3:26    놀린     이민호  광주
162 2022-04-05  18:29  21:57  3:28    로니     윤대경  광주
..         ...    ...    ...   ...   ...     ...  ..
309 2023-04-11  18:29  22:15  3:46   양현종     남지민  광주
310 2023-04-12  18:29  21:14  2:45   앤더슨     문동주  광주
311 2023-04-13  18:30  21:59  3:29   이의리     장민재  광주
416 2023-09-09  18:04  21:52  3:48   이의리     손주영  광주
487 2024-05-12  17:39  21:49  4:10   김사윤     송영진  광주

[82 rows x 7 columns]

In [21]:
kia_no_crowd[kia_no_crowd.날짜 == '2022-04-02']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
158 2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주
160 2022-04-02  14:00  16:49  2:49   양현종     플럿코  광주

In [19]:
hanwha_no_crowd[hanwha_no_crowd.날짜 == '2023-09-27']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
272 2023-09-27  15:00  18:55  3:55   김기중    와이드너  대전
273 2023-09-27  19:26  22:27  3:01    페냐     황동재  대전

In [22]:
# kiwoom_crowd 기준 병합
kia = \
    pd.merge(
        kia_crowd, kia_no_crowd,
        on='날짜',
        how='inner'
        )
kia

            날짜 요일   홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  토  KIA  LG  광주  16908  14:00  16:49  2:49   양현종     플럿코  광주
1   2022-04-02  토  KIA  LG  광주  16908  14:00  16:49  2:49   양현종     플럿코  광주
2   2022-04-02  토  KIA  LG  광주  16908  14:00  16:49  2:49   양현종     플럿코  광주
3   2022-04-03  일  KIA  LG  광주  10290  14:00  17:26  3:26    놀린     이민호  광주
4   2022-04-03  일  KIA  LG  광주  10290  14:00  17:26  3:26    놀린     이민호  광주
..         ... ..  ...  ..  ..    ...    ...    ...   ...   ...     ...  ..
249 2024-05-16  목  KIA  두산  광주  15996  18:29  23:09  4:40   윤영철     김동주  광주
250 2024-05-24  금  KIA  두산  광주  20500  18:30  21:53  3:23   황동하      곽빈  광주
251 2024-05-25  토  KIA  두산  광주  20500  14:00  17:04  3:04   양현종     브랜든  광주
252 2024-05-26  일  KIA  두산  광주  20500  14:00  16:44  2:44    네일    알칸타라  광주
253 2024-05-31  금  KIA  KT  광주  20500  18:29  21:29  3:00   양현종     엄상백  광주

[254 rows x 12 columns]

In [21]:
# 날짜 중복된 데이터 확인
kia[kia.날짜 == '2023-09-17']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
132 2023-09-17  일  한화  KT  대전  7406  14:00  16:40  2:40   산체스    쿠에바스  대전
133 2023-09-17  일  한화  KT  대전  7406  17:12  23:26  2:50   한승주     벤자민  대전
134 2023-09-17  일  한화  KT  대전  6228  14:00  16:40  2:40   산체스    쿠에바스  대전
135 2023-09-17  일  한화  KT  대전  6228  17:12  23:26  2:50   한승주     벤자민  대전

In [22]:
hanwha[hanwha.날짜 == '2023-09-27']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
140 2023-09-27  수  한화  삼성  대전  2807  15:00  18:55  3:55   김기중    와이드너  대전
141 2023-09-27  수  한화  삼성  대전  2807  19:26  22:27  3:01    페냐     황동재  대전
142 2023-09-27  수  한화  삼성  대전  7281  15:00  18:55  3:55   김기중    와이드너  대전
143 2023-09-27  수  한화  삼성  대전  7281  19:26  22:27  3:01    페냐     황동재  대전

In [23]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
hanwha = hanwha.drop(index=[133,134])
hanwha = hanwha.drop(index=[141,142])
hanwha = hanwha.reset_index(drop=True)
hanwha

            날짜 요일  홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  한화  KT  대전   5520  18:30  22:06  3:36   김민우    쿠에바스  대전
1   2022-04-09  토  한화  KT  대전   6538  16:59  19:59  3:00    킹험     배제성  대전
2   2022-04-10  일  한화  KT  대전   5735  13:59  17:10  3:11   한승주   데스파이네  대전
3   2022-04-15  금  한화  LG  대전   3320  18:30  21:42  3:12   윤대경     이민호  대전
4   2022-04-16  토  한화  LG  대전   8112  17:00  20:26  3:26    킹험      켈리  대전
..         ... ..  ..  ..  ..    ...    ...    ...   ...   ...     ...  ..
169 2024-05-22  수  한화  LG  대전   9044  18:30  22:24  3:54   김기중      엔스  대전
170 2024-05-23  목  한화  LG  대전  10008  18:30  21:49  3:19   황준서     임찬규  대전
171 2024-05-28  화  한화  롯데  대전  11168  18:30  21:39  3:09   문동주     박세웅  대전
172 2024-05-29  수  한화  롯데  대전  10807  18:30  21:22  2:52   황준서     윌커슨  대전
173 2024-05-30  목  한화  롯데  대전  11405  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 12 columns]

In [23]:
# 롯데 전적 관련 데이터 가져오기
kia_rank = pd.read_csv('../Data/rank/KIA_rank.csv')
kia_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,KIA,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-1,0-0-0
1,2022-04-03,KIA,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-2,0-0-0
2,2022-04-05,KIA,6,3,1,2,0,0.333,2.0,1승0무2패,1승,1-0-2,0-0-0
3,2022-04-06,KIA,4,4,2,2,0,0.500,2.0,2승0무2패,2승,2-0-2,0-0-0
4,2022-04-07,KIA,3,5,3,2,0,0.600,2.0,3승0무2패,3승,3-0-2,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,KIA,1,55,34,20,1,0.630,0.0,6승0무4패,5승,15-1-10,19-0-10
384,2024-05-31,KIA,1,56,34,21,1,0.618,0.0,5승0무5패,1패,15-1-11,19-0-10
385,2024-06-01,KIA,1,57,35,21,1,0.625,0.0,6승0무4패,1승,16-1-11,19-0-10
386,2024-06-02,KIA,1,58,35,22,1,0.614,0.0,6승0무4패,1패,16-1-12,19-0-10
387,2024-06-04,KIA,1,59,35,23,1,0.603,0.0,6승0무4패,2패,16-1-13,19-0-10

In [24]:
kia_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    object
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 39.5+ KB

In [25]:
# 날짜기준으로 병합하기 위해 타입 변환
kia_rank['날짜'] = kia_rank['날짜'].astype('datetime64[ns]')
kia_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,KIA,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-1,0-0-0
1,2022-04-03,KIA,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-2,0-0-0
2,2022-04-05,KIA,6,3,1,2,0,0.333,2.0,1승0무2패,1승,1-0-2,0-0-0
3,2022-04-06,KIA,4,4,2,2,0,0.500,2.0,2승0무2패,2승,2-0-2,0-0-0
4,2022-04-07,KIA,3,5,3,2,0,0.600,2.0,3승0무2패,3승,3-0-2,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,KIA,1,55,34,20,1,0.630,0.0,6승0무4패,5승,15-1-10,19-0-10
384,2024-05-31,KIA,1,56,34,21,1,0.618,0.0,5승0무5패,1패,15-1-11,19-0-10
385,2024-06-01,KIA,1,57,35,21,1,0.625,0.0,6승0무4패,1승,16-1-11,19-0-10
386,2024-06-02,KIA,1,58,35,22,1,0.614,0.0,6승0무4패,1패,16-1-12,19-0-10
387,2024-06-04,KIA,1,59,35,23,1,0.603,0.0,6승0무4패,2패,16-1-13,19-0-10

In [26]:
kia_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [27]:
# kiwoom 기준으로 내부 조인 병합
kia_new = kia_rank.merge(kia, on="날짜", how="inner")
kia_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,KIA,6,1,0,1,0,0.000,1.0,0승0무1패,...,KIA,LG,광주,16908,14:00,16:49,2:49,양현종,플럿코,광주
1,2022-04-02,KIA,6,1,0,1,0,0.000,1.0,0승0무1패,...,KIA,LG,광주,16908,14:00,16:49,2:49,양현종,플럿코,광주
2,2022-04-02,KIA,6,1,0,1,0,0.000,1.0,0승0무1패,...,KIA,LG,광주,16908,14:00,16:49,2:49,양현종,플럿코,광주
3,2022-04-03,KIA,8,2,0,2,0,0.000,2.0,0승0무2패,...,KIA,LG,광주,10290,14:00,17:26,3:26,놀린,이민호,광주
4,2022-04-03,KIA,8,2,0,2,0,0.000,2.0,0승0무2패,...,KIA,LG,광주,10290,14:00,17:26,3:26,놀린,이민호,광주
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2024-05-16,KIA,1,43,26,16,1,0.619,0.0,4승1무5패,...,KIA,두산,광주,15996,18:29,23:09,4:40,윤영철,김동주,광주
250,2024-05-24,KIA,1,50,29,20,1,0.592,0.0,4승1무5패,...,KIA,두산,광주,20500,18:30,21:53,3:23,황동하,곽빈,광주
251,2024-05-25,KIA,1,51,30,20,1,0.600,0.0,5승1무4패,...,KIA,두산,광주,20500,14:00,17:04,3:04,양현종,브랜든,광주
252,2024-05-26,KIA,1,52,31,20,1,0.608,0.0,5승1무4패,...,KIA,두산,광주,20500,14:00,16:44,2:44,네일,알칸타라,광주
253,2024-05-31,KIA,1,56,34,21,1,0.618,0.0,5승0무5패,...,KIA,KT,광주,20500,18:29,21:29,3:00,양현종,엄상백,광주

In [28]:
# 데이터 저장
kia_new.to_csv('../Data/final_data/kia_new.csv', index=None)