In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
samsung_no_crowd = pd.read_csv('../Data/samsung.csv')
samsung_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  13:59  16:40  2:41  쿠에바스     뷰캐넌  수원
1    2022.04.03(일)  13:59  17:20  3:21   배제성    수아레즈  수원
2    2022.04.05(화)  18:32  22:26  3:54   이영하     원태인  잠실
3    2022.04.06(수)  18:31  21:31  3:00    곽빈     양창섭  잠실
4    2022.04.07(목)  18:31  22:24  3:53   박신지     허윤동  잠실
..             ...    ...    ...   ...   ...     ...  ..
341  2024.05.29(수)  18:30  21:47  3:17   이승현    헤이수스  대구
342  2024.05.30(목)  18:31  21:26  2:55   레예스     이종민  대구
343  2024.05.31(금)  18:30  22:12  3:42   김대우     김규연  대구
344  2024.06.01(토)  17:00  19:49  2:49   원태인     조동욱  대구
345  2024.06.02(일)  17:00  19:45  2:45    코너     문동주  대구

[346 rows x 7 columns]

In [4]:
samsung_no_crowd['구장'].unique()

array(['수원', '잠실', '대구', '문학', '창원', '광주', '사직', '대전', '고척', '포항', '울산'],
      dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
samsung_no_crowd = samsung_no_crowd[samsung_no_crowd['구장'] == '대구']
samsung_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5    2022.04.08(금)  18:30  21:07  2:37   뷰캐넌     안우진  대구
6    2022.04.09(토)  17:00  19:49  2:49  수아레즈     요키시  대구
7    2022.04.10(일)  14:00  16:51  2:51   백정현     애플러  대구
8    2022.04.12(화)  18:30  21:13  2:43   원태인     카펜터  대구
9    2022.04.13(수)  18:30  21:20  2:50   양창섭     김민우  대구
..             ...    ...    ...   ...   ...     ...  ..
341  2024.05.29(수)  18:30  21:47  3:17   이승현    헤이수스  대구
342  2024.05.30(목)  18:31  21:26  2:55   레예스     이종민  대구
343  2024.05.31(금)  18:30  22:12  3:42   김대우     김규연  대구
344  2024.06.01(토)  17:00  19:49  2:49   원태인     조동욱  대구
345  2024.06.02(일)  17:00  19:45  2:45    코너     문동주  대구

[164 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
samsung_no_crowd['날짜'] = samsung_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
samsung_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:30  21:07  2:37   뷰캐넌     안우진  대구
6   2022-04-09  17:00  19:49  2:49  수아레즈     요키시  대구
7   2022-04-10  14:00  16:51  2:51   백정현     애플러  대구
8   2022-04-12  18:30  21:13  2:43   원태인     카펜터  대구
9   2022-04-13  18:30  21:20  2:50   양창섭     김민우  대구
..         ...    ...    ...   ...   ...     ...  ..
341 2024-05-29  18:30  21:47  3:17   이승현    헤이수스  대구
342 2024-05-30  18:31  21:26  2:55   레예스     이종민  대구
343 2024-05-31  18:30  22:12  3:42   김대우     김규연  대구
344 2024-06-01  17:00  19:49  2:49   원태인     조동욱  대구
345 2024-06-02  17:00  19:45  2:45    코너     문동주  대구

[164 rows x 7 columns]

In [7]:
# 정보 확인하기
samsung_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 5 to 345
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       164 non-null    datetime64[ns]
 1   시작시간     164 non-null    object
 2   종료시간     164 non-null    object
 3   경기시간     164 non-null    object
 4   홈팀 선발    164 non-null    object
 5   어웨이팀 선발  164 non-null    object
 6   구장       164 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.2+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
samsung_no_crowd = samsung_no_crowd[samsung_no_crowd['날짜'] < '2024-06-01']
samsung_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:30  21:07  2:37   뷰캐넌     안우진  대구
6   2022-04-09  17:00  19:49  2:49  수아레즈     요키시  대구
7   2022-04-10  14:00  16:51  2:51   백정현     애플러  대구
8   2022-04-12  18:30  21:13  2:43   원태인     카펜터  대구
9   2022-04-13  18:30  21:20  2:50   양창섭     김민우  대구
..         ...    ...    ...   ...   ...     ...  ..
336 2024-05-23  18:30  21:34  3:04   이승현     원상현  대구
340 2024-05-28  18:31  21:27  2:56    코너     후라도  대구
341 2024-05-29  18:30  21:47  3:17   이승현    헤이수스  대구
342 2024-05-30  18:31  21:26  2:55   레예스     이종민  대구
343 2024-05-31  18:30  22:12  3:42   김대우     김규연  대구

[162 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
samsung_crowd = pd.read_csv('../Data/crowd/samsung.csv')
samsung_crowd

             날짜 요일  홈팀 원정팀  장소   관중 수
0    2022-04-08  금  삼성  키움  대구   9244
1    2022-04-09  토  삼성  키움  대구  13059
2    2022-04-10  일  삼성  키움  대구  11610
3    2022-04-12  화  삼성  한화  대구   4047
4    2022-04-13  수  삼성  한화  대구   2156
..          ... ..  ..  ..  ..    ...
171  2024-06-01  토  삼성  한화  대구  24000
172  2024-06-02  일  삼성  한화  대구  24000
173  2024-06-11  화  삼성  LG  대구  12436
174  2024-06-12  수  삼성  LG  대구  13511
175  2024-06-13  목  삼성  LG  대구  14485

[176 rows x 6 columns]

In [10]:
# 정보확인
samsung_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    object
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.4+ KB

In [11]:
# 날짜 데이터 타입 변환
samsung_crowd['날짜'] = samsung_crowd['날짜'].astype('datetime64[ns]')
samsung_crowd

            날짜 요일  홈팀 원정팀  장소   관중 수
0   2022-04-08  금  삼성  키움  대구   9244
1   2022-04-09  토  삼성  키움  대구  13059
2   2022-04-10  일  삼성  키움  대구  11610
3   2022-04-12  화  삼성  한화  대구   4047
4   2022-04-13  수  삼성  한화  대구   2156
..         ... ..  ..  ..  ..    ...
171 2024-06-01  토  삼성  한화  대구  24000
172 2024-06-02  일  삼성  한화  대구  24000
173 2024-06-11  화  삼성  LG  대구  12436
174 2024-06-12  수  삼성  LG  대구  13511
175 2024-06-13  목  삼성  LG  대구  14485

[176 rows x 6 columns]

In [12]:
# 정보 확인
samsung_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    datetime64[ns]
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.4+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
samsung_crowd = samsung_crowd[samsung_crowd['날짜'] < '2024-06-01']
samsung_crowd

            날짜 요일  홈팀 원정팀  장소   관중 수
0   2022-04-08  금  삼성  키움  대구   9244
1   2022-04-09  토  삼성  키움  대구  13059
2   2022-04-10  일  삼성  키움  대구  11610
3   2022-04-12  화  삼성  한화  대구   4047
4   2022-04-13  수  삼성  한화  대구   2156
..         ... ..  ..  ..  ..    ...
166 2024-05-23  목  삼성  KT  대구  13291
167 2024-05-28  화  삼성  키움  대구  10884
168 2024-05-29  수  삼성  키움  대구  15080
169 2024-05-30  목  삼성  키움  대구  12748
170 2024-05-31  금  삼성  한화  대구  24000

[171 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
samsung_crowd[samsung_crowd.날짜.duplicated()]

Empty DataFrame
Columns: [날짜, 요일, 홈팀, 원정팀, 장소, 관중 수]
Index: []

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [15]:
samsung_crowd[hanwha_crowd.날짜 == '2023-09-17']

            날짜 요일  홈팀 원정팀  장소  관중 수
132 2023-09-17  일  한화  KT  대전  7406
133 2023-09-17  일  한화  KT  대전  6228

In [16]:
hanwha_crowd[hanwha_crowd.날짜 == '2023-09-27']

            날짜 요일  홈팀 원정팀  장소  관중 수
138 2023-09-27  수  한화  삼성  대전  2807
139 2023-09-27  수  한화  삼성  대전  7281

In [15]:
# 날짜가 중복된 데이터 확인
samsung_no_crowd[samsung_no_crowd.날짜.duplicated()]

Empty DataFrame
Columns: [날짜, 시작시간, 종료시간, 경기시간, 홈팀 선발, 어웨이팀 선발, 구장]
Index: []

In [18]:
hanwha_no_crowd[hanwha_no_crowd.날짜 == '2023-09-17']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
264 2023-09-17  14:00  16:40  2:40   산체스    쿠에바스  대전
265 2023-09-17  17:12  23:26  2:50   한승주     벤자민  대전

In [19]:
hanwha_no_crowd[hanwha_no_crowd.날짜 == '2023-09-27']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
272 2023-09-27  15:00  18:55  3:55   김기중    와이드너  대전
273 2023-09-27  19:26  22:27  3:01    페냐     황동재  대전

In [16]:
# kiwoom_crowd 기준 병합
samsung = \
    pd.merge(
        samsung_crowd, samsung_no_crowd,
        on='날짜',
        how='inner'
        )
samsung

            날짜 요일  홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  삼성  키움  대구   9244  18:30  21:07  2:37   뷰캐넌     안우진  대구
1   2022-04-09  토  삼성  키움  대구  13059  17:00  19:49  2:49  수아레즈     요키시  대구
2   2022-04-10  일  삼성  키움  대구  11610  14:00  16:51  2:51   백정현     애플러  대구
3   2022-04-12  화  삼성  한화  대구   4047  18:30  21:13  2:43   원태인     카펜터  대구
4   2022-04-13  수  삼성  한화  대구   2156  18:30  21:20  2:50   양창섭     김민우  대구
..         ... ..  ..  ..  ..    ...    ...    ...   ...   ...     ...  ..
157 2024-05-23  목  삼성  KT  대구  13291  18:30  21:34  3:04   이승현     원상현  대구
158 2024-05-28  화  삼성  키움  대구  10884  18:31  21:27  2:56    코너     후라도  대구
159 2024-05-29  수  삼성  키움  대구  15080  18:30  21:47  3:17   이승현    헤이수스  대구
160 2024-05-30  목  삼성  키움  대구  12748  18:31  21:26  2:55   레예스     이종민  대구
161 2024-05-31  금  삼성  한화  대구  24000  18:30  22:12  3:42   김대우     김규연  대구

[162 rows x 12 columns]

In [21]:
# 날짜 중복된 데이터 확인
hanwha[hanwha.날짜 == '2023-09-17']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
132 2023-09-17  일  한화  KT  대전  7406  14:00  16:40  2:40   산체스    쿠에바스  대전
133 2023-09-17  일  한화  KT  대전  7406  17:12  23:26  2:50   한승주     벤자민  대전
134 2023-09-17  일  한화  KT  대전  6228  14:00  16:40  2:40   산체스    쿠에바스  대전
135 2023-09-17  일  한화  KT  대전  6228  17:12  23:26  2:50   한승주     벤자민  대전

In [22]:
hanwha[hanwha.날짜 == '2023-09-27']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
140 2023-09-27  수  한화  삼성  대전  2807  15:00  18:55  3:55   김기중    와이드너  대전
141 2023-09-27  수  한화  삼성  대전  2807  19:26  22:27  3:01    페냐     황동재  대전
142 2023-09-27  수  한화  삼성  대전  7281  15:00  18:55  3:55   김기중    와이드너  대전
143 2023-09-27  수  한화  삼성  대전  7281  19:26  22:27  3:01    페냐     황동재  대전

In [23]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
hanwha = hanwha.drop(index=[133,134])
hanwha = hanwha.drop(index=[141,142])
hanwha = hanwha.reset_index(drop=True)
hanwha

            날짜 요일  홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  한화  KT  대전   5520  18:30  22:06  3:36   김민우    쿠에바스  대전
1   2022-04-09  토  한화  KT  대전   6538  16:59  19:59  3:00    킹험     배제성  대전
2   2022-04-10  일  한화  KT  대전   5735  13:59  17:10  3:11   한승주   데스파이네  대전
3   2022-04-15  금  한화  LG  대전   3320  18:30  21:42  3:12   윤대경     이민호  대전
4   2022-04-16  토  한화  LG  대전   8112  17:00  20:26  3:26    킹험      켈리  대전
..         ... ..  ..  ..  ..    ...    ...    ...   ...   ...     ...  ..
169 2024-05-22  수  한화  LG  대전   9044  18:30  22:24  3:54   김기중      엔스  대전
170 2024-05-23  목  한화  LG  대전  10008  18:30  21:49  3:19   황준서     임찬규  대전
171 2024-05-28  화  한화  롯데  대전  11168  18:30  21:39  3:09   문동주     박세웅  대전
172 2024-05-29  수  한화  롯데  대전  10807  18:30  21:22  2:52   황준서     윌커슨  대전
173 2024-05-30  목  한화  롯데  대전  11405  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 12 columns]

In [17]:
# 롯데 전적 관련 데이터 가져오기
samsung_rank = pd.read_csv('../Data/rank/삼성_rank.csv')
samsung_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,삼성,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-0,0-0-1
1,2022-04-03,삼성,4,2,1,1,0,0.500,1.0,1승0무1패,1승,0-0-0,1-0-1
2,2022-04-05,삼성,3,3,2,1,0,0.667,1.0,2승0무1패,2승,0-0-0,2-0-1
3,2022-04-06,삼성,3,4,3,1,0,0.750,1.0,3승0무1패,3승,0-0-0,3-0-1
4,2022-04-07,삼성,3,5,3,2,0,0.600,2.0,3승0무2패,1패,0-0-0,3-0-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,삼성,4,55,29,25,1,0.537,5.0,3승0무7패,1승,11-0-16,18-1-9
384,2024-05-31,삼성,4,56,30,25,1,0.545,4.0,4승0무6패,2승,12-0-16,18-1-9
385,2024-06-01,삼성,3,57,31,25,1,0.554,4.0,5승0무5패,3승,13-0-16,18-1-9
386,2024-06-02,삼성,3,58,32,25,1,0.561,3.0,5승0무5패,4승,14-0-16,18-1-9
387,2024-06-04,삼성,3,59,33,25,1,0.569,2.0,6승0무4패,5승,14-0-16,19-1-9

In [18]:
samsung_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    object
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 39.5+ KB

In [19]:
# 날짜기준으로 병합하기 위해 타입 변환
samsung_rank['날짜'] = samsung_rank['날짜'].astype('datetime64[ns]')
samsung_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,삼성,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-0,0-0-1
1,2022-04-03,삼성,4,2,1,1,0,0.500,1.0,1승0무1패,1승,0-0-0,1-0-1
2,2022-04-05,삼성,3,3,2,1,0,0.667,1.0,2승0무1패,2승,0-0-0,2-0-1
3,2022-04-06,삼성,3,4,3,1,0,0.750,1.0,3승0무1패,3승,0-0-0,3-0-1
4,2022-04-07,삼성,3,5,3,2,0,0.600,2.0,3승0무2패,1패,0-0-0,3-0-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,삼성,4,55,29,25,1,0.537,5.0,3승0무7패,1승,11-0-16,18-1-9
384,2024-05-31,삼성,4,56,30,25,1,0.545,4.0,4승0무6패,2승,12-0-16,18-1-9
385,2024-06-01,삼성,3,57,31,25,1,0.554,4.0,5승0무5패,3승,13-0-16,18-1-9
386,2024-06-02,삼성,3,58,32,25,1,0.561,3.0,5승0무5패,4승,14-0-16,18-1-9
387,2024-06-04,삼성,3,59,33,25,1,0.569,2.0,6승0무4패,5승,14-0-16,19-1-9

In [20]:
samsung_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [21]:
# kiwoom 기준으로 내부 조인 병합
samsung_new = samsung_rank.merge(samsung, on="날짜", how="inner")
samsung_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-08,삼성,4,6,3,3,0,0.500,3.0,3승0무3패,...,삼성,키움,대구,9244,18:30,21:07,2:37,뷰캐넌,안우진,대구
1,2022-04-09,삼성,5,7,3,4,0,0.429,4.0,3승0무4패,...,삼성,키움,대구,13059,17:00,19:49,2:49,수아레즈,요키시,대구
2,2022-04-10,삼성,6,8,3,5,0,0.375,5.0,3승0무5패,...,삼성,키움,대구,11610,14:00,16:51,2:51,백정현,애플러,대구
3,2022-04-12,삼성,5,9,4,5,0,0.444,5.0,4승0무5패,...,삼성,한화,대구,4047,18:30,21:13,2:43,원태인,카펜터,대구
4,2022-04-13,삼성,5,10,5,5,0,0.500,5.0,5승0무5패,...,삼성,한화,대구,2156,18:30,21:20,2:50,양창섭,김민우,대구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2024-05-23,삼성,3,49,27,21,1,0.563,2.0,6승0무4패,...,삼성,KT,대구,13291,18:30,21:34,3:04,이승현,원상현,대구
158,2024-05-28,삼성,4,53,28,24,1,0.538,4.0,4승0무6패,...,삼성,키움,대구,10884,18:31,21:27,2:56,코너,후라도,대구
159,2024-05-29,삼성,4,54,28,25,1,0.528,5.0,3승0무7패,...,삼성,키움,대구,15080,18:30,21:47,3:17,이승현,헤이수스,대구
160,2024-05-30,삼성,4,55,29,25,1,0.537,5.0,3승0무7패,...,삼성,키움,대구,12748,18:31,21:26,2:55,레예스,이종민,대구
161,2024-05-31,삼성,4,56,30,25,1,0.545,4.0,4승0무6패,...,삼성,한화,대구,24000,18:30,22:12,3:42,김대우,김규연,대구

In [22]:
# 데이터 저장
samsung_new.to_csv('../Data/final_data/samsung_new.csv', index=None)