In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
hanwha_no_crowd = pd.read_csv('../Data/hanwha.csv')
hanwha_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:02  17:27  3:25    스탁     김민우  잠실
1    2022.04.03(일)  14:01  16:29  2:28   최원준      킹험  잠실
2    2022.04.05(화)  18:29  21:57  3:28    로니     윤대경  광주
3    2022.04.06(수)  18:30  22:20  3:50   이의리     카펜터  광주
4    2022.04.07(목)  18:29  21:40  3:11   한승혁     박윤철  광주
..             ...    ...    ...   ...   ...     ...  ..
340  2024.05.29(수)  18:30  21:22  2:52   황준서     윌커슨  대전
341  2024.05.30(목)  18:30  21:33  3:03   김기중     나균안  대전
342  2024.05.31(금)  18:30  22:12  3:42   김대우     김규연  대구
343  2024.06.01(토)  17:00  19:49  2:49   원태인     조동욱  대구
344  2024.06.02(일)  17:00  19:45  2:45    코너     문동주  대구

[345 rows x 7 columns]

In [4]:
hanwha_no_crowd['구장'].unique()

array(['잠실', '광주', '대전', '대구', '사직', '창원', '문학', '고척', '수원', '포항'],
      dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
hanwha_no_crowd = hanwha_no_crowd[hanwha_no_crowd['구장'] == '대전']
hanwha_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5    2022.04.08(금)  18:30  22:06  3:36   김민우    쿠에바스  대전
6    2022.04.09(토)  16:59  19:59  3:00    킹험     배제성  대전
7    2022.04.10(일)  13:59  17:10  3:11   한승주   데스파이네  대전
11   2022.04.15(금)  18:30  21:42  3:12   윤대경     이민호  대전
12   2022.04.16(토)  17:00  20:26  3:26    킹험      켈리  대전
..             ...    ...    ...   ...   ...     ...  ..
335  2024.05.22(수)  18:30  22:24  3:54   김기중      엔스  대전
336  2024.05.23(목)  18:30  21:49  3:19   황준서     임찬규  대전
339  2024.05.28(화)  18:30  21:39  3:09   문동주     박세웅  대전
340  2024.05.29(수)  18:30  21:22  2:52   황준서     윌커슨  대전
341  2024.05.30(목)  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
hanwha_no_crowd['날짜'] = hanwha_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
hanwha_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:30  22:06  3:36   김민우    쿠에바스  대전
6   2022-04-09  16:59  19:59  3:00    킹험     배제성  대전
7   2022-04-10  13:59  17:10  3:11   한승주   데스파이네  대전
11  2022-04-15  18:30  21:42  3:12   윤대경     이민호  대전
12  2022-04-16  17:00  20:26  3:26    킹험      켈리  대전
..         ...    ...    ...   ...   ...     ...  ..
335 2024-05-22  18:30  22:24  3:54   김기중      엔스  대전
336 2024-05-23  18:30  21:49  3:19   황준서     임찬규  대전
339 2024-05-28  18:30  21:39  3:09   문동주     박세웅  대전
340 2024-05-29  18:30  21:22  2:52   황준서     윌커슨  대전
341 2024-05-30  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 7 columns]

In [7]:
# 정보 확인하기
hanwha_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 174 entries, 5 to 341
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       174 non-null    datetime64[ns]
 1   시작시간     174 non-null    object
 2   종료시간     174 non-null    object
 3   경기시간     174 non-null    object
 4   홈팀 선발    174 non-null    object
 5   어웨이팀 선발  174 non-null    object
 6   구장       174 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.9+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
hanwha_no_crowd = hanwha_no_crowd[hanwha_no_crowd['날짜'] < '2024-06-01']
hanwha_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
5   2022-04-08  18:30  22:06  3:36   김민우    쿠에바스  대전
6   2022-04-09  16:59  19:59  3:00    킹험     배제성  대전
7   2022-04-10  13:59  17:10  3:11   한승주   데스파이네  대전
11  2022-04-15  18:30  21:42  3:12   윤대경     이민호  대전
12  2022-04-16  17:00  20:26  3:26    킹험      켈리  대전
..         ...    ...    ...   ...   ...     ...  ..
335 2024-05-22  18:30  22:24  3:54   김기중      엔스  대전
336 2024-05-23  18:30  21:49  3:19   황준서     임찬규  대전
339 2024-05-28  18:30  21:39  3:09   문동주     박세웅  대전
340 2024-05-29  18:30  21:22  2:52   황준서     윌커슨  대전
341 2024-05-30  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
hanwha_crowd = pd.read_csv('../Data/crowd/hanwha.csv')
hanwha_crowd

             날짜 요일  홈팀 원정팀  장소   관중 수
0    2022-04-08  금  한화  KT  대전   5520
1    2022-04-09  토  한화  KT  대전   6538
2    2022-04-10  일  한화  KT  대전   5735
3    2022-04-15  금  한화  LG  대전   3320
4    2022-04-16  토  한화  LG  대전   8112
..          ... ..  ..  ..  ..    ...
172  2024-05-29  수  한화  롯데  대전  10807
173  2024-05-30  목  한화  롯데  대전  11405
174  2024-06-07  금  한화  NC  대전  12000
175  2024-06-08  토  한화  NC  대전  12000
176  2024-06-09  일  한화  NC  대전  12000

[177 rows x 6 columns]

In [10]:
# 정보확인
hanwha_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      177 non-null    object
 1   요일      177 non-null    object
 2   홈팀      177 non-null    object
 3   원정팀     177 non-null    object
 4   장소      177 non-null    object
 5   관중 수    177 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.4+ KB

In [11]:
# 날짜 데이터 타입 변환
hanwha_crowd['날짜'] = hanwha_crowd['날짜'].astype('datetime64[ns]')
hanwha_crowd

            날짜 요일  홈팀 원정팀  장소   관중 수
0   2022-04-08  금  한화  KT  대전   5520
1   2022-04-09  토  한화  KT  대전   6538
2   2022-04-10  일  한화  KT  대전   5735
3   2022-04-15  금  한화  LG  대전   3320
4   2022-04-16  토  한화  LG  대전   8112
..         ... ..  ..  ..  ..    ...
172 2024-05-29  수  한화  롯데  대전  10807
173 2024-05-30  목  한화  롯데  대전  11405
174 2024-06-07  금  한화  NC  대전  12000
175 2024-06-08  토  한화  NC  대전  12000
176 2024-06-09  일  한화  NC  대전  12000

[177 rows x 6 columns]

In [12]:
# 정보 확인
hanwha_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      177 non-null    datetime64[ns]
 1   요일      177 non-null    object
 2   홈팀      177 non-null    object
 3   원정팀     177 non-null    object
 4   장소      177 non-null    object
 5   관중 수    177 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.4+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
hanwha_crowd = hanwha_crowd[hanwha_crowd['날짜'] < '2024-06-01']
hanwha_crowd

            날짜 요일  홈팀 원정팀  장소   관중 수
0   2022-04-08  금  한화  KT  대전   5520
1   2022-04-09  토  한화  KT  대전   6538
2   2022-04-10  일  한화  KT  대전   5735
3   2022-04-15  금  한화  LG  대전   3320
4   2022-04-16  토  한화  LG  대전   8112
..         ... ..  ..  ..  ..    ...
169 2024-05-22  수  한화  LG  대전   9044
170 2024-05-23  목  한화  LG  대전  10008
171 2024-05-28  화  한화  롯데  대전  11168
172 2024-05-29  수  한화  롯데  대전  10807
173 2024-05-30  목  한화  롯데  대전  11405

[174 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
hanwha_crowd[hanwha_crowd.날짜.duplicated()]

            날짜 요일  홈팀 원정팀  장소  관중 수
133 2023-09-17  일  한화  KT  대전  6228
139 2023-09-27  수  한화  삼성  대전  7281

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [15]:
hanwha_crowd[hanwha_crowd.날짜 == '2023-09-17']

            날짜 요일  홈팀 원정팀  장소  관중 수
132 2023-09-17  일  한화  KT  대전  7406
133 2023-09-17  일  한화  KT  대전  6228

In [16]:
hanwha_crowd[hanwha_crowd.날짜 == '2023-09-27']

            날짜 요일  홈팀 원정팀  장소  관중 수
138 2023-09-27  수  한화  삼성  대전  2807
139 2023-09-27  수  한화  삼성  대전  7281

In [17]:
# 날짜가 중복된 데이터 확인
hanwha_no_crowd[hanwha_no_crowd.날짜.duplicated()]

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
265 2023-09-17  17:12  23:26  2:50   한승주     벤자민  대전
273 2023-09-27  19:26  22:27  3:01    페냐     황동재  대전

In [18]:
hanwha_no_crowd[hanwha_no_crowd.날짜 == '2023-09-17']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
264 2023-09-17  14:00  16:40  2:40   산체스    쿠에바스  대전
265 2023-09-17  17:12  23:26  2:50   한승주     벤자민  대전

In [19]:
hanwha_no_crowd[hanwha_no_crowd.날짜 == '2023-09-27']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
272 2023-09-27  15:00  18:55  3:55   김기중    와이드너  대전
273 2023-09-27  19:26  22:27  3:01    페냐     황동재  대전

In [20]:
# kiwoom_crowd 기준 병합
hanwha = \
    pd.merge(
        hanwha_crowd, hanwha_no_crowd,
        on='날짜',
        how='inner'
        )
hanwha

            날짜 요일  홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  한화  KT  대전   5520  18:30  22:06  3:36   김민우    쿠에바스  대전
1   2022-04-09  토  한화  KT  대전   6538  16:59  19:59  3:00    킹험     배제성  대전
2   2022-04-10  일  한화  KT  대전   5735  13:59  17:10  3:11   한승주   데스파이네  대전
3   2022-04-15  금  한화  LG  대전   3320  18:30  21:42  3:12   윤대경     이민호  대전
4   2022-04-16  토  한화  LG  대전   8112  17:00  20:26  3:26    킹험      켈리  대전
..         ... ..  ..  ..  ..    ...    ...    ...   ...   ...     ...  ..
173 2024-05-22  수  한화  LG  대전   9044  18:30  22:24  3:54   김기중      엔스  대전
174 2024-05-23  목  한화  LG  대전  10008  18:30  21:49  3:19   황준서     임찬규  대전
175 2024-05-28  화  한화  롯데  대전  11168  18:30  21:39  3:09   문동주     박세웅  대전
176 2024-05-29  수  한화  롯데  대전  10807  18:30  21:22  2:52   황준서     윌커슨  대전
177 2024-05-30  목  한화  롯데  대전  11405  18:30  21:33  3:03   김기중     나균안  대전

[178 rows x 12 columns]

In [21]:
# 날짜 중복된 데이터 확인
hanwha[hanwha.날짜 == '2023-09-17']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
132 2023-09-17  일  한화  KT  대전  7406  14:00  16:40  2:40   산체스    쿠에바스  대전
133 2023-09-17  일  한화  KT  대전  7406  17:12  23:26  2:50   한승주     벤자민  대전
134 2023-09-17  일  한화  KT  대전  6228  14:00  16:40  2:40   산체스    쿠에바스  대전
135 2023-09-17  일  한화  KT  대전  6228  17:12  23:26  2:50   한승주     벤자민  대전

In [22]:
hanwha[hanwha.날짜 == '2023-09-27']

            날짜 요일  홈팀 원정팀  장소  관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
140 2023-09-27  수  한화  삼성  대전  2807  15:00  18:55  3:55   김기중    와이드너  대전
141 2023-09-27  수  한화  삼성  대전  2807  19:26  22:27  3:01    페냐     황동재  대전
142 2023-09-27  수  한화  삼성  대전  7281  15:00  18:55  3:55   김기중    와이드너  대전
143 2023-09-27  수  한화  삼성  대전  7281  19:26  22:27  3:01    페냐     황동재  대전

In [23]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
hanwha = hanwha.drop(index=[133,134])
hanwha = hanwha.drop(index=[141,142])
hanwha = hanwha.reset_index(drop=True)
hanwha

            날짜 요일  홈팀 원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-08  금  한화  KT  대전   5520  18:30  22:06  3:36   김민우    쿠에바스  대전
1   2022-04-09  토  한화  KT  대전   6538  16:59  19:59  3:00    킹험     배제성  대전
2   2022-04-10  일  한화  KT  대전   5735  13:59  17:10  3:11   한승주   데스파이네  대전
3   2022-04-15  금  한화  LG  대전   3320  18:30  21:42  3:12   윤대경     이민호  대전
4   2022-04-16  토  한화  LG  대전   8112  17:00  20:26  3:26    킹험      켈리  대전
..         ... ..  ..  ..  ..    ...    ...    ...   ...   ...     ...  ..
169 2024-05-22  수  한화  LG  대전   9044  18:30  22:24  3:54   김기중      엔스  대전
170 2024-05-23  목  한화  LG  대전  10008  18:30  21:49  3:19   황준서     임찬규  대전
171 2024-05-28  화  한화  롯데  대전  11168  18:30  21:39  3:09   문동주     박세웅  대전
172 2024-05-29  수  한화  롯데  대전  10807  18:30  21:22  2:52   황준서     윌커슨  대전
173 2024-05-30  목  한화  롯데  대전  11405  18:30  21:33  3:03   김기중     나균안  대전

[174 rows x 12 columns]

In [24]:
# 롯데 전적 관련 데이터 가져오기
hanwha_rank = pd.read_csv('../Data/rank/한화_rank.csv')
hanwha_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,한화,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-0,0-0-1
1,2022-04-03,한화,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-0,0-0-2
2,2022-04-05,한화,9,3,0,3,0,0.000,3.0,0승0무3패,3패,0-0-0,0-0-3
3,2022-04-06,한화,10,4,0,4,0,0.000,4.0,0승0무4패,4패,0-0-0,0-0-4
4,2022-04-07,한화,10,5,0,5,0,0.000,5.0,0승0무5패,5패,0-0-0,0-0-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,한화,7,54,24,29,1,0.453,9.5,8승0무2패,5승,14-1-14,10-0-15
384,2024-05-31,한화,8,55,24,30,1,0.444,9.5,8승0무2패,1패,14-1-14,10-0-16
385,2024-06-01,한화,8,56,24,31,1,0.436,10.5,7승0무3패,2패,14-1-14,10-0-17
386,2024-06-02,한화,8,57,24,32,1,0.429,10.5,6승0무4패,3패,14-1-14,10-0-18
387,2024-06-04,한화,8,58,25,32,1,0.439,9.5,6승0무4패,1승,14-1-14,11-0-18

In [ ]:
hanwha_rank.info()

In [25]:
# 날짜기준으로 병합하기 위해 타입 변환
hanwha_rank['날짜'] = hanwha_rank['날짜'].astype('datetime64[ns]')
hanwha_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,한화,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-0,0-0-1
1,2022-04-03,한화,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-0,0-0-2
2,2022-04-05,한화,9,3,0,3,0,0.000,3.0,0승0무3패,3패,0-0-0,0-0-3
3,2022-04-06,한화,10,4,0,4,0,0.000,4.0,0승0무4패,4패,0-0-0,0-0-4
4,2022-04-07,한화,10,5,0,5,0,0.000,5.0,0승0무5패,5패,0-0-0,0-0-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,한화,7,54,24,29,1,0.453,9.5,8승0무2패,5승,14-1-14,10-0-15
384,2024-05-31,한화,8,55,24,30,1,0.444,9.5,8승0무2패,1패,14-1-14,10-0-16
385,2024-06-01,한화,8,56,24,31,1,0.436,10.5,7승0무3패,2패,14-1-14,10-0-17
386,2024-06-02,한화,8,57,24,32,1,0.429,10.5,6승0무4패,3패,14-1-14,10-0-18
387,2024-06-04,한화,8,58,25,32,1,0.439,9.5,6승0무4패,1승,14-1-14,11-0-18

In [26]:
hanwha_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [27]:
# kiwoom 기준으로 내부 조인 병합
hanwha_new = hanwha_rank.merge(hanwha, on="날짜", how="inner")
hanwha_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-08,한화,10,6,0,6,0,0.000,6.0,0승0무6패,...,한화,KT,대전,5520,18:30,22:06,3:36,김민우,쿠에바스,대전
1,2022-04-09,한화,10,7,1,6,0,0.143,6.0,1승0무6패,...,한화,KT,대전,6538,16:59,19:59,3:00,킹험,배제성,대전
2,2022-04-10,한화,8,8,2,6,0,0.250,6.0,2승0무6패,...,한화,KT,대전,5735,13:59,17:10,3:11,한승주,데스파이네,대전
3,2022-04-15,한화,8,12,3,9,0,0.250,8.0,3승0무7패,...,한화,LG,대전,3320,18:30,21:42,3:12,윤대경,이민호,대전
4,2022-04-16,한화,9,13,3,10,0,0.231,9.0,3승0무7패,...,한화,LG,대전,8112,17:00,20:26,3:26,킹험,켈리,대전
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2024-05-22,한화,8,48,19,28,1,0.404,10.0,4승1무5패,...,한화,LG,대전,9044,18:30,22:24,3:54,김기중,엔스,대전
170,2024-05-23,한화,10,49,19,29,1,0.396,10.0,4승1무5패,...,한화,LG,대전,10008,18:30,21:49,3:19,황준서,임찬규,대전
171,2024-05-28,한화,8,52,22,29,1,0.431,9.5,6승0무4패,...,한화,롯데,대전,11168,18:30,21:39,3:09,문동주,박세웅,대전
172,2024-05-29,한화,8,53,23,29,1,0.442,9.5,7승0무3패,...,한화,롯데,대전,10807,18:30,21:22,2:52,황준서,윌커슨,대전
173,2024-05-30,한화,7,54,24,29,1,0.453,9.5,8승0무2패,...,한화,롯데,대전,11405,18:30,21:33,3:03,김기중,나균안,대전

In [28]:
# 데이터 저장
hanwha_new.to_csv('../Data/final_data/hanwha_new.csv', index=None)